[2020-04-03 15:53] #370 closed

[2020-04-05 09:40] m-kru commented on #350
@jeremiah-c-leary I have an idea how we can provide it to the user. First I thought we should just prepare example `config.yaml` files and let users edit them. Now I have better idea. We should embed these styles into the vsg. For example user would call vsg in following way: `vsg --style style_name -f file.vhd`. This approach has 2 pros:

1. If you want to use one of the embedded styles you do no

[2020-04-05 14:54] jeremiah-c-leary commented on #350
@m-kru That makes a lot of sense.  So VSG could provide a series of styles to choose from, and the user could pick which one they want.  If there are modifications, then they just make a configuration and pass it via the  `-c` option.

[code]
In those cases, the style would be the base configuration and the `-c` would modify it.

[2020-04-06 07:51] m-kru commented on #352
@jeremiah-c-leary as there are a lot of rules to go through, I will do it partially by editing this comment. I will let you know when I end.

**After Rules**
This group seems a little bit weird to be. Looks like all rules are related to the simulation stuff. Maybe we should create Simulation Rules? Just loudly thinking.

**Architecture Rules**
All rules in this group should stay in this group. May

[2020-04-06 08:09] m-kru opened #373 "New rule proposal."
In case of block comments developers often use special lines for the first and last lines. There are 2 popular versions.
[code]

[code]

Add rule detecting such lines and forcing particular style. The allowed characters should be a list, so that both or even more styles are possible to be defined.

It should also be possible to forbid such decoration lines.

[2020-04-06 08:14] m-kru opened #374 "New rule proposal - maximum block comment length."
Restricting maximum line length in VHDL files is usually not so simple as lines in VHDL tends to be much longer than in programming languages. However it makes sense to restrict the maximum length of block comments (probably 80 should be the default) as it makes it easier to look through the code or read the documentation using `cat` or `less` commands.

[code]

[2020-04-06 13:08] jeremiah-c-leary commented on #352
This group seems a little bit weird to be. Looks like all rules are related to the simulation stuff. Maybe we should create Simulation Rules? Just loudly thinking.

That is an interesting point.  We should keep that in mind as you go through the rest of the rules.

[2020-04-06 18:15] m-kru opened #375 "Unify 'end keyword' case rules approach."
There are some rules that check the case of `end keyword` constructs. However sometimes there is single rule for both word, while sometimes there 2 rules per word. Examples:
![case_017_018](https://user-images.githubusercontent.com/26227737/78591017-0f1e3000-7843-11ea-9615-601b5842a615.png)
![architecture_009](https://user-images.githubusercontent.com/26227737/78591019-0fb6c680-7843-11ea-9135-ab5d

[2020-04-09 02:48] jeremiah-c-leary commented on #352
In my opinion attribute_001 rule should be removed, as such alignment should be ensured by rules that ensure proper alignment in declarative regions.

I had thought about having a single indent rule, but for some reason I thought maybe someone would want to indent differently based on the type.  `library_008` is a perfect example.  Some people where I work like it left justified, but I prefer it i

[2020-04-11 10:13] m-kru opened #377 "New rule proposal - enforce prefix/suffix for package name."
Similar to `port_011`, `port_025` rules.

[2020-04-11 10:14] m-kru opened #378 "There are no rules for package body."
We miss rules for `package body`.

[2020-04-27 18:25] jeremiah-c-leary opened #379 "Process_019 leaves off a closing parenthesis"
**Environment**
Linux version 1.2

**Describe the bug**

The following code:

[code]

gets converted to

[code]

It is missing the last parenthesis.  Although the inner parenthesis are not reqiured.

**Expected behavior**

[code]

[2020-04-28 21:41] HalfInner opened #380 "Syntax Error after running VSG"
**Environment**
VHDL Style Guide (VSG) version 1.2.0

**Describe the bug**
Two problems:
 * Major: When the procedure is the latest element in architecture group initialization - i'm not sure if I shall call it like this - vsg threat 'end procedure' as a name and change it to end architecture procedure, which is **`Syntax Error`**
 * Minor: Wrongly interpreted indents in procudure

![image](https:

[2020-04-30 14:52] jeremiah-c-leary commented on #379
This has been verified by the user who brought up the issue.

[2020-04-30 14:52] #379 closed

[2020-04-30 14:53] jeremiah-c-leary commented on #380
greetings @HalfInner ,  I will take a look at this

[2020-04-30 16:25] jeremiah-c-leary commented on #380
Hey @HalfInner , just wanted to let you know I fixed the issue.  VSG was classifying the 'end loop' as an  'end procedure', which then threw all the indenting off and caused the syntax error.

I released version 1.4.0 with the fix.  Please try it and let me know how it goes.

I will close this ticket in a couple of days if I do not hear back from you.

[2020-05-01 14:02] jeremiah-c-leary opened #381 "VSG crashes when generating JUnit file"
Line 240 in rule_list.py should be:
[code]

[2020-05-01 22:27] jeremiah-c-leary opened #382 "when keyword in concurrent assignment is being flagged as part of a case statement."
The following when keyword is incorrectly flagged:
[code]

[2020-05-02 11:43] #382 closed

[2020-05-02 11:43] #381 closed

[2020-05-02 11:49] HalfInner commented on #380
Hello @jeremiah-c-leary ,
I've tested with 1.5.0 and it works well. Good to hear!
Thanks for fix.

[2020-05-02 11:49] #380 closed

[2020-05-03 10:09] m-kru commented on #352
@jeremiah-c-leary I have finished the review process. Here are my extra remarks to what I have already written above.

**Indentation**
I have checked how you have implemented this, and my final thought is that there is no point in changing how it works. There are no strong arguments which approach would be better, and from user perspective there would be no difference.

**Identifiers alignment**
T

[2020-05-03 16:46] jeremiah-c-leary commented on #378
Agree.  It would seem they should be fairly easy to implement.  Similar to the architecture rules.
I am going to assign this to release 2.1.0 so we can focus on the main goal of 2.0.0

[2020-05-03 16:56] jeremiah-c-leary commented on #377
Agree.  As part of this, should we combine ```port_011``` and ```port_025``` into a single rule.

I am going to push this to release 2.1.0 so we can focus on getting 2.0.0 out.

[2020-05-03 16:58] jeremiah-c-leary commented on #374
This seems like a reasonable rule.

Pushing to release 2.1.0...

[2020-05-03 17:07] jeremiah-c-leary commented on #373
Agree on this rule.  I have also seen something like:
[code]

Pushing to release 2.1.0

[2020-05-04 15:59] tlbeng opened #383 "Nested for loop indentation"
**Environment**
Windows 10, Python 3.7.7, vsg 1.5.0

**Describe the bug**
VSG incorrectly reports invalid indentation at the end of nested for loops

**To Reproduce**
run `vsg -f nested_loop.vhd` for a file with the following contents:

[code]

Resulting output:

[code]

[2020-05-04 19:57] jeremiah-c-leary commented on #383
Greetings @tlbeng,

I will take a look at this tonight.

[2020-05-05 01:26] jeremiah-c-leary commented on #383
Hey @tlbeng,
I just pushed version 1.6.0.  It looks like it is working.  If you could please verify I would appreciate it.

[2020-05-05 06:57] tlbeng commented on #383
Hi Jeremiah,

that was very quick, thank you. Unfortunately I now get other false positives in my codebase. Here's an updated example:

[code]

[code]

[2020-05-05 13:21] jeremiah-c-leary commented on #383
@tlbeng ... hmmm...I am assuming this is similar to the previous issue.  I will check it out.

[2020-05-05 14:00] tlbeng commented on #383
I had a look myself and it seems like the "end if" in line 29 is interpreted as an "end procedure" in `_classify_end_procedure_in_package_body`, and therefore the indentation level is decremented twice.

[2020-05-06 01:56] jeremiah-c-leary commented on #383
@tlbeng , yep that was the issue.  I had a check to see if the line was an `end if`:
[code]

However, the classification of if statements occurs after the procedure in vhdlFile.py:

[code]
So the line attribute `oLine.isForLoopEnd` is not set when checking for the end of the procedure.

I pushed version 1.6.1.

Now I am curious what else you are going to find.

[2020-05-06 08:00] tlbeng commented on #383
Great work. Thank you!

[2020-05-06 08:00] #383 closed

[2020-05-06 08:47] tlbeng opened #384 "assertion with less-than-or-equal (<=) comparison"
**Environment**
Windows 10, vsg 1.6.1, python 3.7.7

**Describe the bug**
An assertion statement inside a process is interpreted as a signal assignment if it contains a less-than-or-equal (<=) comparison.

**To Reproduce**
run vsg on this vhdl
[code]
output:
[code]

**Expected behavior**
no violation should be reported

[2020-05-06 09:01] tlbeng opened #385 "variable lists in nested procedures and functions are truncated"
**Environment**
Windows 10, vsg 1.6.1, python 3.7.7

**Describe the bug**
when multiple variables are declared in a single line in a procedure or function within a process,
the variable list is truncated when calling `vsg -f filename.vhd --fix`.

**To Reproduce**
call `vsg -f filename.vhd --fix` on this vhdl
[code]
produces this "fixed" vhdl.
[code]

[2020-05-06 19:51] staerz opened #386 "Typo in rule constant_010"
**Environment**
vsg 1.6.1

**Describe the bug**
Found a typo:
"constant_010              |         26 | Ensure a singl space before the := assignment."
Not "singl" but "singl**e**"

[2020-05-07 15:26] m-kru commented on #386
Thanks, fixed.

[2020-05-07 15:26] #386 closed

[2020-05-08 00:55] jeremiah-c-leary commented on #384
@tlbeng I am on it.

[2020-05-08 02:53] jeremiah-c-leary commented on #385
@tlbeng hmm....this one is a puzzler.

[2020-05-08 03:30] jeremiah-c-leary commented on #385
@tlbeng  I isolated the issue down to rule `process_031`.  I am still deciding how to fix the problem.  Meanwhile you can disable the rule using the following YAML configuration file:

[code]
Use the `-c` option to use the configuration file.

[2020-05-09 01:56] staerz opened #389 "instantiation_011 also parses comment in same line"
**Environment**
vsg 1.6.1, fedora 30

**Describe the bug**
In a port mapping like
[code]
instantiation_011 raises a violation although the offending text (upper case) is the comment (which is checked by another rule).

**Expected behavior**
I would not expect this violation to pop up in this case.

**Additional context**
Might be a parsing issue. Suggestion: Ignore anything after a comment ("--").

[2020-05-09 02:07] staerz opened #390 "entity_008 and entity_012 don't allow numbers"
**Environment**
VSG 1.6.1., Fedora 30

**Describe the bug**
entity_008 and entity_012 don't allow numbers in the entity name (tested with requiring lower case).

**To Reproduce**
Try on the following entity name:
[code]
with the following setting
[code]
**Expected behavior**
As numbers are valid (except at the start of the entity name), this must be allowed and not be marked as a violation.

The i

[2020-05-09 02:28] staerz opened #391 "instantiation_030 raises in case generate (VHDL-2008)"
**Environment**
VSG 1.6.1, Fedora

**Describe the bug**
instantiation_030 raises in case generate (VHDL-2008)

**To Reproduce**
Try on the following piece of code:
[code]

Note that the "case .... generate" is VHDL-2008.

**Expected behavior**
I would not expect instantiation_030 to raise a violation here.

[2020-05-09 02:36] staerz opened #392 "Case ... generate not properly recognised in indentation (VHDL-2008)"
**Environment**
VSG 1.6.1., Fedora

**Describe the bug**
Running on the following code (with mostly default settings)
[code]
end up in the following list of violations:
[code]

It seems that the VHDL-2008 construct "case ... generate" is not properly taken into account in the indentation checks.

**Expected behavior**
I would not expect any violation of indentation for the code given above.

Pleas

[2020-05-09 15:30] staerz opened #393 "library_001 reports wrong alignment for context (VHDL-2008)"
**Environment**
VSG 1.6.1., Fedora

**Describe the bug**
The library_001 complains in a context environment (VHDL-2008) where the indentation is actually correct.

**To Reproduce**
Run VSG on the following piece of code:

[code]
**Expected behavior**
I would not expect library_001 to complain here as the indentation is correct.

**Additional context**
Pun intended :rofl:

See here: https://www.dou

[2020-05-09 16:32] jeremiah-c-leary commented on #390
@staerz I am looking at this now.

[2020-05-09 16:58] jeremiah-c-leary commented on #390
@staerz  I was unable to duplicate the issue with the following file:

[code]

and the following configuration:

[code]

Is there additional information you can give me to help isolate the issue?

[2020-05-09 17:09] jeremiah-c-leary commented on #389
@staerz I was able to replicate the issue with the following code:

[code]

I am looking into it.

[2020-05-09 17:26] jeremiah-c-leary commented on #384
@tlbeng This will be included in the 1.7.0 release.

[2020-05-09 17:26] jeremiah-c-leary commented on #385
@tlbeng This will be included in the 1.7.0 release.

[2020-05-09 17:27] jeremiah-c-leary commented on #389
@staerz instantiation_011 was assuming comments were removed.  I changed an extract routine to remove comments from the line before checking for case on the ports.

This will be included in the 1.7.0 release.

[2020-05-09 17:32] jeremiah-c-leary commented on #391
@staerz Agree that this is an issue.  I would appear the generate is being seen as an instantiation.  I am looking into it.

[2020-05-10 03:04] jeremiah-c-leary commented on #391
@staerz An update for this issue will be in the 1.7.0 release.

[2020-05-10 03:06] jeremiah-c-leary commented on #392
@staerz I did not have support for case generates so I am not surpised you received invalid warnings.  I believe I have made the necessary changes.  The updates will be in the 1.7.0 release.

[2020-05-10 13:16] jeremiah-c-leary commented on #384
@tlbeng, I just released 1.7.0.  If you could verify it addresses this issue and close this issue if it does.

Thanks,

--Jeremy

[2020-05-10 13:16] jeremiah-c-leary commented on #385
@tlbeng, I just released 1.7.0.  If you could verify it addresses this issue and close this issue if it does.

Thanks,

--Jeremy

[2020-05-10 13:17] jeremiah-c-leary commented on #390
@staerz , I just released 1.7.0.  If you could verify it addresses this issue and close this issue if it does.

Thanks,

--Jeremy

[2020-05-10 13:18] jeremiah-c-leary commented on #392
@staerz , I just released 1.7.0.  If you could verify it addresses this issue and close this issue if it does.

Thanks,

--Jeremy

[2020-05-10 13:19] jeremiah-c-leary commented on #391
@staerz , I just released 1.7.0.  If you could verify it addresses this issue and close this issue if it does.

Thanks,

--Jeremy

[2020-05-11 06:49] #384 closed

[2020-05-11 07:02] tlbeng commented on #385
@jeremiah-c-leary, unfortunately this issue is not fixed. The fix just stops alignment of variable declarations inside functions completely, but the issue is with tokenizing declarations of the form
variable a, b : integer and had nothing to do with the declaration being inside a function. Here's another sample:

[code]

[2020-05-11 14:28] staerz commented on #391
Hi Jeremy,

yes, I confirm, VSG 1.7.0. doesn't have this issue anymore!

Thanks for being so quick in addressing it, really appreciated!

[2020-05-11 14:28] #391 closed

[2020-05-11 14:41] staerz commented on #390
Dear Jeremy,

with VSG 1.7.0 I don't get the problem anymore. I do agree, it is a bit awkward that you couldn't reproduce the problem, but maybe there was some underlying function(ality) that was changed so now the problem doesn't show up anymore.

Thanks for this very rapid fix!

[2020-05-11 14:41] #390 closed

[2020-05-11 14:54] staerz commented on #389
Dear Jeremy,

thanks, that fixes the problem!

[2020-05-11 14:54] #389 closed

[2020-05-11 14:55] staerz commented on #392
Hi Jeremy,

thanks, yes, that solves the problem! :+1:

[2020-05-11 14:55] #392 closed

[2020-05-11 15:08] jeremiah-c-leary opened #394 "Signal_015 rule does not ignore comments"
**Environment**
Version 1.6.1

**Describe the bug**
Signal_015 is not ignoring commas in comments.

**To Reproduce**
Try this code:
[code]

**Expected behavior**
The comma should not fire signal_015 with default settings.

[2020-05-12 01:53] #394 closed

[2020-05-12 01:57] jeremiah-c-leary commented on #385
@tlbeng I was able to replicate the error.  I am on it.

[2020-05-12 12:10] jeremiah-c-leary commented on #385
@tlbeng I just released version 1.8.0.  If you could verify this version addressed the issue and close this issue if it does.

Thanks,

--Jeremy

[2020-05-12 12:20] tlbeng commented on #385
The reported issue is resolved, but the alignment of the variable declarations at ':' does not work unless there is a long variable - it seems the variable list is not considered for determining the ':' column.

[code]
Should I close this issue and open a separate one?

[2020-05-12 12:20] tlbeng commented on #385
Btw thanks for being so responsive and quick to address issues.

[2020-05-12 13:10] jeremiah-c-leary commented on #385
@tlbeng I think I got it this time.

You have to be careful with the rule `file_003`, which conflicts with this one.  `file_003` wants a single space after the `file` keyword.  This is configurable and an example is shown in the documentation.  These rules were updated to a more consistent methodology in the future 2.0.0 release.  Which seems to be taking too long to get out.

Anyway...I just rele

[2020-05-12 13:39] #385 closed

[2020-05-12 14:14] staerz opened #395 "Release Notes"
**What is your question?**
Dear Jeremiah,

thank you very much for putting so much effort into improving this tool. That's very appreciated!

I would have the question if you have release notes for each version. You release quite often, which is very good, but it is (as far as I can see) not easy to see what the new features or bug fixes are.

But I'm not keen on github, so if you could just point

[2020-05-12 14:47] staerz opened #396 "configuration option allow_single_line (concurrent_007) and clock (process_029)"
**What is your question?**
Dear Jeremiah,

I'm having difficulties in setting attributes for certain rules.

I try setting this in a configuration file that I load via the -c option: disabling works, but not setting the intended attribute :confused:
[code]
Would you see an obvious mistake?

It would help if the explanation to the rules would have an explicit configuration example.

Configuring the

[2020-05-12 15:26] jeremiah-c-leary commented on #395
Thank you @staerz , I appreciate the compliment.

For release information you can check this link:  https://github.com/jeremiah-c-leary/vhdl-style-guide/releases

![image](https://user-images.githubusercontent.com/24329243/81712361-1e902a80-943a-11ea-9be2-5da95f6b7a65.png)

If you click on the ellipses next to the release number:
![image](https://user-images.githubusercontent.com/24329243/81712591

[2020-05-12 16:29] staerz commented on #395
Haha, yes, I knew it would be somewhere.
I found the link thanks to your help!

[2020-05-12 16:29] #395 closed

[2020-05-12 17:23] staerz commented on #373
I have prepared a feature request in our project actually.

Note that this is based on us using doxygen, but one might want to support other documentation tools like sphinx, too:

## Feature Request Summary

I request to add a rule to vsg which evaluates the correct format of the `------------------------------<-    80 chars    ->------------------------------` comment, **when NOT used inside the

[2020-05-13 00:56] jeremiah-c-leary commented on #396
@staerz, you caught us before the 2.0.0 release.  We are making some architectural changes to how the rules work and improving the user experience.

At the moment I have a release_1.0_support branch I am cherry-picking fixes to, from master, until 2.0.0 is ready.  The `latest` version is from master.  I did enable building from the `release_1.0_support` branch.

If you look at the bottom left of t

[2020-05-13 01:07] staerz commented on #396
Dear @jeremiah-c-leary,

thank you very much for this exhaustive response.

That explains things pretty well and I see you're also very well organised!

No need to rush. I'll stick to the official releases as we use VSG with multiple developers and even in our pipelines (that you added the JUnit support was one reason to go for VSG - that's just the best!).

I will keep reporting issues if we stum

[2020-05-13 14:47] jeremiah-c-leary commented on #373
@staerz is the `--<- 80 chars ->--` actually in the comment or is it just to indicate the line is 80 chars long?

@m-kru Here are my initial thoughts on handling this:

[code]
Where A is a string parameter which can accept None
Where B is a string parameter
Where C is a string parameter which can accept None
Where D is a string parameter which can accept None
Where E is a string parameter

So if y

[2020-05-14 00:36] staerz commented on #373
Dear @jeremiah-c-leary,

yes, it is grown habit, so our code really has this `...-<-    80 chars    ->-...` literally.

The idea is clear: I wanted to mark the 80 characters line limit - and the last character of this line is at position 80.

Now, as you say, some people might think that 80 is to few and rather define 100 or 120 or anything else - leading to the statement that the length should be

[2020-05-14 15:05] jeremiah-c-leary commented on #373
I was thinking about the `<- 80  chars ->` and how to implement it.  It is really just a string embedded in a series of dashes.  The `80` has meaning, but it can be handled with a max length attribute.

To make this more generic we could do the following:

[code]

Where A is a string parameter which can accept None, or empty string
Where B is a character which will be repeated
Where C is a string

[2020-05-14 15:18] staerz commented on #373
Hi @jeremiah-c-leary,

in my opinion, that is a bit more complicated than needed. Let the user decide what the top and bottom line should be entirely and restrict the needed configuration to a minimum.

So I'd rather support your previous suggestion.

[2020-05-16 14:46] jeremiah-c-leary commented on #396
@staerz ...as I was implementing issue #350 I was reminded of something you had mentioned:

Have you tried the `-rc` option?

I am currently going through defining the style I follow so I have to configure rules differently.  I use this option to see how a rule can be configured.

[code]
I then add the rule configuration to my overall configuration and change what I need.  I usually drop the inden

[2020-05-17 08:27] m-kru commented on #377
`port_011` is for prefixes, `port_025` is for suffixes. Why do you want to combine them? If you combine them, then it won't be possible to enforce both some prefix and suffix. Besides they are based on 2 different classes:
[code]

[2020-05-17 08:52] m-kru commented on #373
I have created this issue some time ago. https://github.com/jeremiah-c-leary/vhdl-style-guide/issues/374 . I think restricting comment lines to exactly 80 chars makes sense. Especially if it is needed for doxygen. Making comment only lines length configurable and then adding some kind of dependency in other rules like: *If comment line equals 80 is becoming a bit too complicated for such simple th

[2020-05-17 13:50] m-kru commented on #377
I have added prefix and suffix rule for package identifier. Closing.

[2020-05-17 13:50] #377 closed

[2020-05-17 14:07] m-kru commented on #352
@jeremiah-c-leary I need your feedback.

[2020-05-17 14:09] m-kru commented on #259
What is the expected behavior? In my humble opinion it is not good idea to allow multiple sequential assignments on a single line.

[2020-05-18 16:47] staerz commented on #373
Hi @m-kru,

well, you won't make yourself friends with restricting comment lines to (non-negotiable) 80 characters!

As I initially stated, for us it is a habit, that I just try to define a rule to check against, but you will certainly find developers who would want 120 characters or any other number.
But certainly, it would be good to have a rule to check against that, so I'm fully supporting #37

[2020-05-18 16:56] staerz commented on #396
Dear @jeremiah-c-leary,

thanks! Good point!

Here is what I get:
[code]
for the 2 rules in question.

So as you state, the other options are not yet available there... I'll hence be patient. No worries and thanks for pointing to the option again.

[2020-05-18 17:41] ericjmcd opened #398 "Fix introduces syntax error on generics that start with "port""
**Environment**
Ubuntu 18.04
VSG version 1.8.1

**Describe the bug**
If a generic name starts with "port" (or "PORT") the fixer assumes that is the beginning of the "port" keyword and mangles the output.

**To Reproduce**
Example original:
[code]

Example after above is "fixed":
[code]

[2020-05-18 20:51] jeremiah-c-leary commented on #398
@ericjmcd I think I know what is going on.  I suspect the `PORT_CNT` is being classified as the start of the port declaration.  I will try to have a fix tomorrow.

[2020-05-19 03:31] jeremiah-c-leary commented on #398
@ericjmcd I just released version 1.9.0.  Could you verify it fixes the identified issue, and it so could you close this issue?

Thanks,

--Jeremy

[2020-05-19 21:13] ericjmcd commented on #398
@jeremiah-c-leary Thanks for the quick bugfix!  1.9.0 looks good.  No issues with generics with names: "PORT_CNT" and even "PORT" or "port".

[2020-05-19 21:13] #398 closed

[2020-05-20 04:47] staerz opened #399 "Add rule to check consecutive semicolon (;)"
**Describe the solution you'd like**
Currently there is no rule to check multiple consecutive semicolons.

While a line like
[code]
is entirely valid VHDL syntax, there is no benefit from it and it's rather disturbing.

**Describe alternatives you've considered**
Just don't care.

[2020-05-20 12:20] jeremiah-c-leary commented on #399
That is disturbing.  It is scheduled for the 2.1.0 release.

[2020-05-21 04:38] ericjmcd opened #400 "Rule process_029 documentation is wrong for clock events vs edges."
**Environment**
Version 1.9.0

**Describe the bug**
Docs call for setting "clock": "edge" or "event" but now process_029 is always for events so need to disable it to allow "edge" setting.  I actually preferred the selection (i.e. all rising_edge or all event).  This now limits it to all event or a mix of edges/events.

[2020-05-22 09:43] abyszuk commented on #400
Can we get back the selection feature? I will really miss that.

[2020-05-22 13:18] jeremiah-c-leary commented on #400
Hey @ericjmcd That option will be available in the 2.0.0 release.  The `latest` version of the documentation on readthedocs is pointing to the HEAD of `master`.  The 1.x releases are being maintained on the `release_1.0_support` branch.

You can find the 1.9.0 documentation by finding the `v:latest` button on the bottom left of the window:
![image](https://user-images.githubusercontent.com/2432924

[2020-05-22 22:53] jeremiah-c-leary commented on #400
Hey @abyszuk ,
I am not sure it was in any of the 1.x releases.  It came in on issue #319 which was scheduled for the 2.0.0 release.

[2020-05-30 17:01] qarlosalberto opened #401 "All phase errors"
Hello,

I'm adding VSG support to TerosHDL vscode extension (https://github.com/TerosTechnology/vscode-terosHDL).  Is it possible to pass all phases? Or do I need to fix the previous phase errors?
I would like to show all errors at the same time, so the user can select what to fix.

[2020-06-01 15:06] jeremiah-c-leary commented on #401
Hey @qarlosalberto,

I had not originally thought to run through all the phases.  The original concept was to first everything in one phase before moving on to others.  The thinking being that later phases would be dependent on earlier ones.

I suppose there is no reason why that has to be enforced though.  I could easily add an option to not stop on errors.

It all depends on how you envision inc

[2020-06-01 18:56] ericjmcd commented on #400
@jeremiah-c-leary Thanks for pointing out the 2.0.0 release with the fix and my wrong docs versions.  Considering this closed as it will be resolved in 2.0.0.

[2020-06-01 18:56] #400 closed

[2020-06-01 19:06] ericjmcd opened #402 "Warning or Severity option for rules"
I would like to have a feature where we could flag a rule with warnings only.  i.e. If the rule is violated, a warning message (or violation message) is still printed but the return code is still zero.  I'm using VSG with Jenkins and pre-commit hooks so I would like to allow some rule violations to occur with warnings without causing the check/build to fail.

Ideally, I'd like there to be a severi

[2020-06-01 21:03] joshrsmith opened #403 "Docs: constant_004 documentation indicates can enforce lowercase only"
Under constant_004 documentation it indicates:

However, this rule appears to be configurable such that you can enforce lower or upper case.
Docs should be improved to indicate it is configurable.

[2020-06-02 02:02] jeremiah-c-leary commented on #402
Hey @ericjmcd
I think such a thing could be done.  There are some implications to be worked through.

I am curious about this statement:

I would assume your team would use the `--fix` option to bring their code into compliance.

Could you elaborate on this a little?

[2020-06-02 02:04] jeremiah-c-leary commented on #352
@m-kru I am going to start looking through your comments on this issue.

[2020-06-02 02:49] jeremiah-c-leary commented on #352
I am a bit confused about this group. Is the intent of this group to gather rules that are common for entity and component declarations? I can see 3 points in which generics are used: entity declaration, component declaration, instantiation. There are two options here. This group can stay or rules should be moved to entity, component, instantiation rules. @jeremiah-c-leary can you please define th

[2020-06-02 03:04] jeremiah-c-leary commented on #352
My overall feeling is that most of the rules in this group should stay in this group. However, I wonder if rules if_032 and if_033 should not be moved to Comment Rules. In my humble opinion there should be only one rule in Comment Rules that ensures alignment of consecutive comment only lines.

I can see it either way, where the rule could be either in the `comment` or the `if` group.

Those two r

[2020-06-02 12:24] m-kru commented on #373
@staerz can you provide some doxygen documentations?

[2020-06-02 15:13] staerz commented on #373
Dear @m-kru,

the official doxygen documentation can be found on doxygen's website: https://www.doxygen.nl/manual/ and in particular for VHDL here: https://www.doxygen.nl/manual/docblocks.html#vhdlblocks

Doxygen comments just start with "--!" and it doesn't matter if you have whitespace in front of it.
Hence, by design, you may (and are highly encouraged) to indent the comments with the source co

[2020-06-02 18:04] joshrsmith opened #404 "signal_015 false positive when function used to constrain size"
**Environment**
python 3.7.2, Linux

[code]

**Describe the bug**
VSG flags a false error for a line of code that looks similar to this, when signal_015 rule is enabled:
[code]

The error is: `multiple signals defined in a single declaration`

When trying to use `--fix` the following stack trace results:

[code]

**To Reproduce**
See above test case.

If `--fix` is not used, then the exception is

[2020-06-02 18:12] m-kru commented on #403
Is it on master branch?

[2020-06-02 19:04] joshrsmith commented on #403
Documentation here: https://vhdl-style-guide.readthedocs.io/en/latest/constant_rules.html#constant-004

Using tool installed via pip,
python 3.7.2, Linux

[code]

[2020-06-02 19:06] joshrsmith opened #405 "`--fix` for process_018 does not re-use capitalization of beginning label"
**Environment**
python 3.7.2, Linux

[code]

**Describe the bug**
If a process has been defined as follows:
[code]
and `process_018` is enabled, and the `--fix` option is specified, then the resulting fix will be:
[code]
Even if `process_017` and `process_019` are both disabled.

**To Reproduce**
See above.

**Expected behavior**
I would expect that capitalization would be preserved from the origi

[2020-06-02 20:04] qarlosalberto commented on #401
Thanks for the reply @jeremiah-c-leary

I have an initial version of TerosHDL with VSG support:

![vsg_message](https://user-images.githubusercontent.com/5955143/83564141-82c77b00-a51c-11ea-835e-3b8b0e660886.png)

My idea (although it may not be in your development plans) is to have a similar feature as others style linters.

1. Show all style erros.
2. Ability to fix a specific error.
3. Comments

[2020-06-02 23:24] jeremiah-c-leary commented on #401
That is amazing.  Is that in Visual Studio Code?  At one time I was trying to figure it out, but I gave up after other pressing concerns.  I do not use VSG that way, but I can see the appeal.

What is performance of running VSG from VSC?  I use vim, and there is a noticeable delay.

I think could be done.  We would have to watch out for new errors as others are fixed.
Alignment errors can be trick

[2020-06-02 23:44] ericjmcd commented on #402
You're right - I forgot that the --fix option was there (although I added it for my "make reformat" target).  I was thinking it was unreliable due to to the "generic name with 'port'" bug that I submitted (and you quickly fixed - thanks!) but I haven't had any problems since.  Once we get our config file to match the style that we like, I think we'll apply --fix liberally to get our projects in li

[2020-06-03 04:01] m-kru commented on #403
Fixed.

[2020-06-03 04:01] #403 closed

[2020-06-03 23:13] jeremiah-c-leary commented on #404
Hey @joshrsmith ,
Thanks for the bug report.  I will take a look at it.

[2020-06-04 00:28] jeremiah-c-leary commented on #405
Hey @joshrsmith ,
I agree the case should be preserved if `process_017` and `process_019` are disabled.

I am working on this.

[2020-06-04 01:15] jeremiah-c-leary commented on #405
Found the issue.  There was a regular expression match being done on the lower cased version of the line.  This resulted in the lower case version of the label being used.

[2020-06-04 01:23] jeremiah-c-leary commented on #405
Hey @joshrsmith ,

I just released version 1.10.0 which has a fix for this issue.  Could you please update and verify it addresses the issue for you.

Thanks,

--Jeremy

[2020-06-04 01:23] jeremiah-c-leary commented on #404
Hey @joshrsmith ,

I just released version 1.10.0 which has a fix for this issue.  Could you please update and verify it addresses the issue for you.

Thanks,

--Jeremy

[2020-06-04 12:18] joshrsmith commented on #405
Yes, I can confirm this has been resolved.

[2020-06-04 12:18] #405 closed

[2020-06-04 12:38] joshrsmith commented on #404
Fixed.

[2020-06-04 12:38] #404 closed

[2020-06-04 12:45] joshrsmith opened #406 "port_013 ("Place multiple ports on their own lines") false positive"
**Environment**
[code]

**Describe the bug**
port_013 triggers a false positive when a port looks like the following:
`I_INPUT : in T_CUSTOM_ARRAY(G_A'high downto 0)(function_call(G_B,G_C)-1 downto 0) := (others => (others => '0'));`
(For clarity, this is all on one line without any linebreak in the middle)

The false positive is not triggered if the line looks like this:
`I_INPUT : in T_CUSTOM_AR

[2020-06-04 13:03] joshrsmith opened #407 "instantiation_024 (Rewrite positional assignment to explicit assignment) false positive"
**Environment**
[code]

**Describe the bug**
If an instance is coded like this, then a false positive for instantiation_024 is generated:

[code]
I suspect it is related to using a function as the actual for the generic in the map.

Note that this unit is generated in a generate loop (hence the index `i`), but I am not sure if that is related.

**To Reproduce**
See above.

**Expected behavior**
I

[2020-06-04 13:35] nfrancque opened #408 "New rule - Maximum number of lines in file"
Perhaps in conjunction with #402, it would be nice to have a warning that a file is too long with some suggestions as to how to break it up.  Suggestions could in the future be improved by metrics about how many signals, processes, concurrent statements, etc exist in the file against some known average.  This is more advanced than necessary but could be nice down the line.

There are obvious justi

[2020-06-04 14:07] nfrancque opened #409 "New Rule - Maximum Length of a Single Process"
A warning for too many lines in an individual process would be useful, perhaps suggesting that the user should either create a new process or move the extra logic into another block.  The number of lines should be configurable starting at some reasonable default.

[2020-06-04 14:12] nfrancque opened #410 "New Rule - Component vs Direct Instantiation"
Most codebases either decide to use component or direct instantiation exclusively.  Code reviews often have findings to make sure all are the same unless there are configurations involved.

A simple implementation I think would be for VSG to flag component instantiations and/or declarations when configured to prefer direct, and vise versa for component.

A more advanced implementation could automa

[2020-06-04 14:17] nfrancque opened #411 "Provide pre-configured set of commonly used configurations"
I would be nice to provide some alternative rulesets that may not be the tool's default suggestion, but are common enough to merit discussion.

For instance, many people will simply not use the tool because a couple rules are against their own opinions.  Catering to these people fairly easily would greatly increase tool usage.

Some way of discovering these existing default configurations would be

[2020-06-04 17:29] qarlosalberto commented on #401
I'm glad you consider the proposals :)

Yes, it's Visual Studio Code. I have written the VSG linter in a independent library (https://github.com/TerosTechnology/colibri) and use it in the VSC extension. So it can be used in others editors (Atom, vim... etc...). It has a good performance but, if I'm honest, I only lint "on save" and only one file. But it can be extended to lint the full workspace a

[2020-06-04 19:45] staerz opened #412 "xml produced by opition -j/--junit need to cast special characters"
**Environment**
fedora 30, VSG 1.10.0

**Describe the bug**
The produced xml file can happen to not be xml compliant due to characters like ">" or "<" in the failure description field.

This prevents tools like gitlab to parse this file when attempting to produce the pipeline report.

**To Reproduce**
Steps to reproduce the behavior:
1. Write code that violates concurrent_002, concurrent_004, sequ

[2020-06-04 20:00] staerz commented on #412
Hi @jeremiah-c-leary,

as I reported to you, the option of the JUnit output is one reason why I chose VSG for our project.

Now with some "crappy" vhdl files not respecting any rules, I ran into that issue (it took me a minute to come to the bottom of it).

So if you could make fixing this (in my eyes) serious (but easy to fix) bug a priority, that would help us a lot!

[2020-06-04 20:12] staerz commented on #412
Hi @jeremiah-c-leary,

and just another question: Can I donate for the work you do here? If so, how?

[2020-06-05 19:56] Malcolmnixon opened #413 "Configuration of case for architecture_009 is ignored"
**Environment**
This is occurring in VSG 1.10.0 on Windows

**Describe the bug**
No matter how I try setting the case to 'upper' (either global or for architecture_009: VSG reports:
architecture_009 | 9 | Ensure "end" and "architecture" keywords are lower case.

**To Reproduce**
[architecture_009.zip](https://github.com/jeremiah-c-leary/vhdl-style-guide/files/4738200/architecture_009.zip)

1. Expa

[2020-06-06 13:40] jeremiah-c-leary opened #414 "Add debugging capabilities"
Debugging issues with the execution of VSG can be difficult.  Adding the ability to output verbose debug messaging will address these types of issues.

The first step will be to print out the rule being analyzed or fixed.
Additional debug features will be added as new issues.

[2020-06-06 15:52] jeremiah-c-leary commented on #412
Hey @staerz,

I will start working on this and get it into the 1.11.0 release

I appreciate the thought.  I would have to explore the options for donating.

[2020-06-06 17:01] jeremiah-c-leary commented on #406
@joshrsmith I am starting to look at this.

[2020-06-06 19:57] jeremiah-c-leary commented on #407
Hey @joshrsmith I am starting to look at this one.

[2020-06-06 21:20] jeremiah-c-leary commented on #401
@qarlosalberto so it sounds like there are several changes required to support your effort.  Does this list summarize what you need?

1. JSON formatted output indicating rules that failed with the line numbers and the solution.
2. Ability to disable a rule on the next line
3.  Show all style errors (Do not stop if a violation was found)
4.  Ability to pass a JSON file to tell VSG which errors to f

[2020-06-06 21:45] qarlosalberto commented on #401
That list is really nice!
The priorized list could be:

2. JSON formatted output indicating rules that failed with the line numbers and the solution.
3. Ability to disable a rule on the next line
1. Show all style errors (Do not stop if a violation was found)
4. Ability to pass a JSON file to tell VSG which errors to fix

[2020-06-06 21:46] jeremiah-c-leary commented on #412
Hey @staerz

I just released version 1.11.0.  Could you please validate it resolves this issue.

Thanks,

--Jeremy

[2020-06-06 21:47] jeremiah-c-leary commented on #407
Hey @joshrsmith

I just released version 1.11.0.  Could you please validate it resolves this issue.

Thanks,

--Jeremy

[2020-06-06 21:47] jeremiah-c-leary commented on #406
Hey @joshrsmith

I just released version 1.11.0.  Could you please validate it resolves this issue.

Thanks,

--Jeremy

[2020-06-06 22:04] staerz commented on #412
Hi Jeremy,

after an update (sudo pip install vsg --upgrade) I run into this error:
[code]

Euhm, looks like a clash with python 2.7!? Any idea what I should do?

[2020-06-06 22:08] jeremiah-c-leary commented on #412
I can work on getting python version 2.7 installed and see if I get the same error.

[2020-06-06 22:16] staerz commented on #412
Yeah, that would be great! I mean I have both versions installed: Python 2.7.17, Python 3.7.7, but I'm actually not a Python expert at all and wouldn't actually know how I could set VSG to link with Python 3. On the other hand, if you intend to support Python 2.7, it should work ... (but well, Python 2.7 is over life time ... so the decision is yours, of course.

Just let me know what I should do

[2020-06-06 22:20] jeremiah-c-leary commented on #412
my version of python 2.7.17 has slightly different errors than yours:

[code]

My work is still using 2.7, so I need to figure this out.  Importing is always confusing for me.

[2020-06-06 22:28] jeremiah-c-leary commented on #412
so This is interesting...I wonder if it is a circular reference:

utils.py import line while line import utils

[2020-06-06 22:31] jeremiah-c-leary commented on #412
k, I think I got it...Let me get a new version out for you.

[2020-06-06 22:42] jeremiah-c-leary commented on #412
@staerz  I just pushed version 1.11.1, could you check if the import error is fixed?

[2020-06-06 22:54] staerz commented on #412
Yup, nice, that works! And also the bug seems gone, I see the xml special chars!

And I confirm that the produced output is now properly parsed by gitlab!

Thank you very much for addressing this issue so quickly! I leave the pleasure of closing this issue to you.

[2020-06-07 00:05] jeremiah-c-leary commented on #412
Awesome.  I will close the ticket.

[2020-06-07 00:05] #412 closed

[2020-06-07 00:14] jeremiah-c-leary commented on #402
Thanks for the kind words, and I am glad you are finding it useful.

How soon would you like to see this implemented?  I am trying to figure out priorities between several tickets.

[2020-06-07 00:17] jeremiah-c-leary commented on #408
Could there be different levels for the same rule?  For example, the file length.  You get a warning when it hits 1000 lines, but a violation at 3000 lines?

[2020-06-07 00:22] jeremiah-c-leary commented on #410
funny...I thought there was already a rule for this, but there are only rules that check case.

[2020-06-07 00:31] jeremiah-c-leary commented on #411
I think issue #350 and pull request #397 cover how this could be done, but does not address what other rulesets should be there.  Currently a legacy (pre 2.0.0) ruleset and an indent ruleset are proposed.  I believe the biggest difference between legacy and 2.0.0 are some alignment and case rules.

Do you have any suggestions for other styles?

[2020-06-07 00:48] nfrancque commented on #408
I think that is reasonable.  Not sure how easily it applies to other warnings though, I think these count-based rules are the only ones that fall under that category.

[2020-06-07 00:56] jeremiah-c-leary commented on #413
Greetings @Malcolmnixon ,

Unfortunately, the 1.x releases do not support configuring the case.  We upgraded some of the underlying reporting structure in the code and made it incompatible with the 1.x branch.

We are currently in the process of getting the 2.0.0 release done, which is taking a little longer than we have expected.  I like to think it is imminent, but it has been imminent for about

[2020-06-07 00:57] nfrancque commented on #411
I could name off a few things that are commonly disagreed on, but you're right it does seem difficult to come up with categories for each of them.  Would be nice if we could name them to provide some context.  Like catering to the personality most likely to use one set of conventions over another.

Some guesses -
- Indents, like you mentioned
- Capitalization of constants
- rising_edge vs. clk'eve

[2020-06-07 01:31] jeremiah-c-leary commented on #411
There seems to be a vast number of possible styles.  We almost need a champion of a style.  For example, I imagine you have a preferred style.  Why not make that one available?

I just do not know how to gather more styles unless someone submits one.

It would be interesting if companies would submit their styles.  If that were to happen, VSG would almost become a universal code format translator.

[2020-06-07 18:03] jeremiah-c-leary commented on #352
In my humble opinion it should not be handled as a rule for vsg. I would opt for making it just Python exception FileNotFoundError: [Errno 2] No such file or directory: 'entity.vhd'.

I remember someone wanting a missing file reported in the JUnit file so if it failed during a CI flow it would be reported.

[2020-06-07 18:06] jeremiah-c-leary commented on #352
@m-kru Could you check the following list to see if it summarizes how we should complete this issue?

  1) leave the indent rules as they are.

  2) Keep the after rules section.

  3)  create an identifiers alignment rule to cover constant_003, file_003, etc...

  4)  single space after rules change to at least a single space
      constant_005
      constant_010
      etc...

  5)  Merge concurr

[2020-06-07 21:34] jeremiah-c-leary opened #416 "Allow VSG to not stop on violations when analyzing."
VSG currently stops on a phase in which it encounters a violation.  The original use case assumed a user would fix the issue and then re-run VSG until it was completed.

To support integration into text editors, there is a desire to show all the possible violations for every phase.

This feature request is a breakdown of features from issue #401

[2020-06-07 21:35] jeremiah-c-leary opened #417 "Add JSON output format for violations"
To support integration with editors, outputting the violations in JSON format makes transferring data between applications easier.

This is in support of issue #401

[2020-06-07 21:42] jeremiah-c-leary opened #418 "Enhance code tags with ability to disable a rule on the next line"
Add the following to code_tags:

[code]

This would disable a rule for the next line only.  Multiple rules could be listed also.

This issue in in support of issue #401

[2020-06-07 22:05] jeremiah-c-leary opened #419 "Allow VSG to fix individual errors"
There is a use case for editor integration when a single violation would need to be fixed.  Currently VSG will fix all violations it finds.

This feature request is to add the ability for VSG to fix individual errors.

This issue is in support of issue #401

[2020-06-07 22:51] jeremiah-c-leary commented on #401
awesome,

I was going to create a ticket for each item in the list.  It will be easier to track them and you will know when each is ready.

[2020-06-07 22:56] qarlosalberto commented on #401
Thank you! :)

[2020-06-07 23:04] jeremiah-c-leary commented on #401
Do you want the JSON output to be sent to the screen or to a file?

[2020-06-07 23:21] qarlosalberto commented on #401
Better to file

[2020-06-08 00:04] jeremiah-c-leary commented on #401
I have issue #416 implemented.  How does this look for a JSON output:

[code]
It is a list of violations.  I used the `violations` key in case I need to pass other information that is not a violation.  Trying to future proof this a little.

[2020-06-08 01:15] jeremiah-c-leary commented on #401
Is the goal to use the next line tags sparingly?  I could see a case where your code could be cluttered with VSG code tags.

[2020-06-08 01:59] jeremiah-c-leary commented on #401
Hey @qarlosalberto ,

I have the first three items implemented on the issue-401 branch.  I think I will have to postpone the forth one for a bit while I work on some other tickets for 2.0.0

Could you pull down that branch and play with the updates?  Keep in mind that you will be pulling down a pre 2.0.0 version.

Thanks,

--Jeremy

[2020-06-08 06:11] m-kru commented on #352
1. Yes.
2. Yes/No? The idea about Simulation Rules group is still open?
3. Yes.
4. Yes.
5. Not sure, what is the goal of sequential rules? Maybe they should be moved to Signal Rules, as they are related to the signals assignment?
6. What would it look like?

One more:
What about merging `Variable Assignments` Rules to `Variables` rules? What was the idea for having separate group for assignments?

[2020-06-08 12:34] joshrsmith commented on #406
Resolved.

[2020-06-08 12:34] #406 closed

[2020-06-08 12:35] joshrsmith commented on #407
Resolved.

[2020-06-08 12:35] #407 closed

[2020-06-08 13:04] joshrsmith opened #420 "instantiation_011 crash: re.error: unbalanced parenthesis at position 3"
**Environment**
[code]

**Describe the bug**
VSG Crashes with the following stack trace:

[code]

**To Reproduce**
I have narrowed the crash down to a line similar to this:

`I_PORTMAP_FORMAL       => I_ENTITY_INPUT(generate_loop_index)(function_call(G_GENERIC_A(generate_loop_index),8)-1 downto 0),`

This line is part of a port map statement, which is for an instance being generated in a generate

[2020-06-08 13:20] jeremiah-c-leary commented on #420
@joshrsmith ,

I suspect the first comma is considered the end of the port instantiation.

[2020-06-08 17:35] #414 closed

[2020-06-08 18:35] qarlosalberto commented on #417
I'm testing the new features and changing my code. I get this json output:

[code]

What is the the purpose of ** "colibri/test/sample.vhd"** ? What you do you think about?:

[code]

[2020-06-08 18:38] jeremiah-c-leary commented on #417
I can update to that format.

[2020-06-08 18:39] qarlosalberto commented on #418
I have checked how the others linters do it. They disable N rules in N comment lines. For example:

[code]

For the editor is easier in separate lines. Is it a problem for you? If it's a problem I can look for other solution.

[2020-06-08 18:40] qarlosalberto commented on #401
@jeremiah-c-leary no problem. It's really nice to have that features :)

[2020-06-08 19:58] jeremiah-c-leary commented on #418
I think I can support that. I could just collect exceptions until I hit a line that is not an exception.

[2020-06-08 20:11] qarlosalberto commented on #419
It would be nice to have a way to fix all errors of a type. It will be implemented in Visual Studio Code as "Fix all [code] problems". An possible idea is to pass a negative line:

code-of-problem-1 : -1
code-of-problem-2: 21

The first will fix all problems of type 1 and the second only the problem 2 in the line 21.

[2020-06-08 20:38] ericjmcd commented on #402
It's not a major hurry for us - just something that will make the tool more useful so we can soften the pass/fail criteria for our CI/CD pipeline (I could pipe the output to file and parse it and then report the warnings - I wish jUnit supported warnings but I don't believe it does).
For implementation, what about:
* add a global "severity" with either "error" or "warning" (defaulting to "error")

[2020-06-08 22:49] jeremiah-c-leary commented on #417
I just pushed an update to match the above JSON format.  Could you update and double check?

Thanks,

--Jeremy

[2020-06-08 23:42] jeremiah-c-leary commented on #418
Hey @qarlosalberto ,

I just pushed an update to the issue-401 branch.  Could you update and let me know if this update works for you.

Thanks,

--Jeremy

[2020-06-08 23:45] jeremiah-c-leary commented on #419
if we pass a JSON file in, we could use the following format:
[code]
and if you want to fix all of that rule:
[code]
Would something like that work?

[2020-06-09 00:08] jeremiah-c-leary commented on #352
Forgot about that one.  I can not remember why I had them separate.   It may have been because I needed a way to differentiate between them because the rules are different.

`Variable` rules look for the `variable` keyword and use the `isVariable` line attribute.
`Variable Assignment` rules look for the `:=` keyword and use the `isVariableAssignment` line attribute.

Now whether that is justificat

[2020-06-09 00:55] jeremiah-c-leary opened #421 "utils.extract_port_names_from_port_map question"
I am trying to fix a bug in issue #420 and I thought I had a fix in.  However, `vsg.tests.vsg_utils.test_utils.testExtractFunctions.test_extract_port_names_from_port_map` is failing:

[code]
so I went to the line in the test:

[code]

Which is trying to find the ports in the following VHDL line

[code]
In the above equation, is `b` a port assignment?  It seems like it is part of the others stateme

[2020-06-09 11:23] jeremiah-c-leary commented on #402
Take a look at issue #417.  If I added sections for errors and warnings etc... you could just read the JSON file in.

Agree.

I was thinking of reserving the error/violations and letting the user decide how to categorize the rest.  Maybe somebody wants different categories:  'Fix_later', 'update_before_design_review'.  That might be too much flexibility.

The output will have to change to indicate

[2020-06-09 12:22] jeremiah-c-leary commented on #420
I almost have a fix for this.  I have a test that is failing due to my changes that I want to track down first.  This is issue #421 .

[2020-06-09 17:11] qarlosalberto commented on #419
perfect!

[2020-06-09 17:11] qarlosalberto commented on #417
Yes, its fine!

[2020-06-11 01:53] ericjmcd commented on #411
Having a few pre-configured sets seems like a great idea to me.  But I agree, coming up with them would be difficult (and many).

One thing that might be workable would be a flag that creates a configuration based on the assumption that there are NO violations in a set of files.  i.e. Run VSG with the --output_configuration flag and another flag (--input_as_reference?) and enable all rules by defa

[2020-06-11 06:50] qarlosalberto commented on #418
Yes! I have added in the extension the ability to use a configuration file.
The configuration rules are a powerful feature.

[2020-06-11 12:25] nfrancque commented on #411
That is a fantastic idea!  If your golden reference i.e. still needs some lines aligned or small stuff, can iteratively tweak it until that file matches how you want it to look.

It'd be important that VSG search for rules whose inverse match the current style, rather than disabling if the default doesn't match.  A rule should only be disabled if it finds no candidate rule configuration for the ex

[2020-06-11 17:33] jeremiah-c-leary commented on #411
That is a borderline genius idea.

A lot of details to go over as @nfrancque pointed out.

[2020-06-13 09:17] csantosb opened #422 "Error when fixing a process"
**Environment**

Using [python-vsg-git](https://aur.archlinux.org/packages/python-vsg-git/) package under archlinux. This means latest master branch, as for today.

**Describe the bug**

When doing

    vsg -f test_process.vhd --fix

I get

    IndexError: list index out of range

**To Reproduce**

Use following test_process.vhd contents

    u_sb_config : process
    begin
      sb_channel.SetNam

[2020-06-13 09:30] csantosb opened #423 "Emacs support"
**Is your feature request related to a problem? Please describe.**

I found no reference on how to include support for use under emacs.

**Describe the solution you'd like**

Calling "C-c M-b" in code below applies vsg to current region or paragraph. A prefix argument "C-u C-c M-b" applies to the whole buffer. Just needs to set the path to the config.yaml file.

**Describe alternatives you've cons

[2020-06-14 08:29] marph91 opened #424 "Prefix rule for process and generate labels"
**Is your feature request related to a problem? Please describe.**
I would like to define prefixes for the process and generate labels.

**Describe the solution you'd like**
A rule for process, respectively generate, to define the prefixes.

[2020-06-14 08:54] marph91 opened #425 "More descriptive rule names"
**What is your question?**
I just started to use vsg in a [small project](https://github.com/marph91/yaaes/blob/master/vsg_config.yaml). When searching for rules it was a bit cumbersome to find the exact rule. Also the configuration file looks similar to this:

[code]

I added the comments to remember what the rule is about. Would it be feasible to add an identification word to the rule name. For

[2020-06-17 15:16] ericjmcd opened #426 "Prefer "-f" over "file_list" in config file to allow individual analysis and fixing"
When providing both "-f" and "-c" options to specify both a file and a configuration file, VSG ignores the "-f" file(s) and uses "file_list" from the config file.

Ideally, this would use the "-f" option as a user would not normally provide both unless they want to specifically analyze or fix a specific file.  I have been using file_list in my configuration file but when working on new files, I'd

[2020-06-18 10:18] m-kru commented on #425
It is feasible, but will never be implemented (in my humble opinion), @jeremiah-c-leary. Such change would have some significant impact on the implementation, plus the gain is almost 0.
What is more, the needed change would make Python code more cumbersome.

`vsg` has really good documentation. Read it, find the rule, edit config file. Once you create your configuration you are probably going to s

[2020-06-18 10:20] m-kru commented on #424
Definitely feasible. It would be quite easy to implement, maybe you could try to make PR :)?

[2020-06-18 10:35] m-kru commented on #423
This is rather not related to `vhdl-style-guide`. `vhdl-style-guide` tries to follow Unix philosophy. I do not use emacs, but I am sure there is a way to bind some program to do some stuff with the buffer.

[2020-06-18 11:01] m-kru commented on #422
This is because
[code]
is the last line in the file, and generally the file is incorrect VHDL file.

However, I have fixed this, as reporting violation is more user friendly than rising enigmatic Python exception. Thanks!

[2020-06-18 11:01] #422 closed

[2020-06-18 11:06] m-kru commented on #375
@jeremiah-c-leary Should we have 2 separate rules for `end` and `keyword` or one rule for `end keyword`?

[2020-06-18 11:47] csantosb commented on #423
Sure, just posted it here in case someone else wants to use the style guide from within emacs.

[2020-06-18 11:48] #423 closed

[2020-06-18 17:41] ericjmcd opened #427 "Incorrectly fixes one-line multi-assignment port mappings for rule instantiation_021"
**Environment**
Python3.6
VSG 1.11.1

**Describe the bug**
VSG incorrectly fixes one-line multi-assignment port mappings.
Rule:  instantiation_021: Move multiple port assignments to their own lines.

**To Reproduce**
This snippet of code
[code]
becomes
[code]
**Expected behavior**
[code]

[2020-06-18 17:59] ericjmcd opened #428 "Text is wrong for library_006, it says "library" but should say "use""
**Environment**
VSG 1.11.1

**Describe the bug**
library_006 Ensure there are only 1 space(s) after the "library" keyword.
This is a rule against the "use ..." syntax.  The bug is in the single_space_after_rule.py as it should say self.sWord not self.name

[code]

[2020-06-19 09:41] m-kru commented on #428
Fixed, thanks.

[2020-06-19 09:41] #428 closed

[2020-06-19 10:56] m-kru commented on #375
Ok, we are going to have 2 separate rules, as this gives more flexibility.
Actions needed:
- [ ] split architecture_009
- [ ] add rules for checking case of `end function`
- [ ] split if_028
- [ ] split package_006
- [ ] add rules for checking case of `end procedure`

[2020-06-20 16:07] jeremiah-c-leary commented on #426
Hey @ericjmcd,

I can see your point on this.  Another option is to merge the `-f` and `-c` files.

Have you tried splitting your configuration up.  You can have one configuration be the rules:
 `my_rules.json`
[code]
...and another for the files: `project_files.json`
[code]
Then you can call both of them on the command line:
[code]
VSG will merge the two configurations, with the configuration to

[2020-06-20 16:09] jeremiah-c-leary commented on #426
I thought I had documented the merging of configurations.  It must have been deleted somewhere along the way.  I will try to find it and update the documentation.

[2020-06-20 17:02] jeremiah-c-leary commented on #425
Greetings @marph91,
I can see the desire to have more descriptive names.  I run into the same problem when creating configurations.  `signal_007` is not very descriptive.  You only know it has something to do with signals.

The intent was to drive people to the documentation, as it would hopefully be more descriptive than the rule title.

I would not want to change the format of the existing names

[2020-06-20 17:06] jeremiah-c-leary commented on #424
Interesting idea.  You could use an existing prefix rule as a template.  It would just be a matter of pulling the label and checking if it starts with the prefix.

[2020-06-20 17:08] jeremiah-c-leary commented on #401
@qarlosalberto
My apologies, work kind of blew up on me.  I wanted to check if you were waiting on me for anything.

Thanks,

--Jeremy

[2020-06-20 22:42] #421 closed

[2020-06-20 22:42] jeremiah-c-leary commented on #420
Hey @joshrsmith ,
This fix is scheduled for the 1.12.0 release.

[2020-06-20 23:42] jeremiah-c-leary commented on #427
I thought this would be a quick fix, but it is taking a little longer.

[2020-06-21 12:48] marph91 commented on #424
Sure, I will take a look. For my designs, the prefixes are mostly `PROC_` respectively `GEN_`. Should I use them as default or do you prefer something else?

[2020-06-21 13:10] m-kru commented on #424
They are fine as the defaults, but remember that by default everything should be lowercase, so it would be `proc_` and `gen_`.

[2020-06-21 15:35] jeremiah-c-leary commented on #427
Hey @ericjmcd,

I just release version 1.12.0.  Could you valid that version fixes this issue.

Thanks,

--Jeremy

[2020-06-21 15:36] jeremiah-c-leary commented on #420
Hey @joshrsmith,

I just release version 1.12.0.  Could you check that it fixes this issue.

Thanks,

--Jeremy

[2020-06-21 17:11] jeremiah-c-leary commented on #424
Should this rule be on by default?

Also, I just committed some tokenizing code when I fixed a bug for issue #427.  It might make your checks easier.

[2020-06-21 17:12] jeremiah-c-leary commented on #417
Awesome, I will close this issue.

[2020-06-21 17:12] #417 closed

[2020-06-21 17:14] jeremiah-c-leary commented on #375
I agree with splitting them.  There was a time when I was just trying to go as fast a possible to get rules in without taking the time to really think about the overall strategy.

[2020-06-21 17:37] m-kru commented on #424
This is something, that we already tried to discuss in some other thread. In my opinion all rules should be disabled by default, and enabling would be done in builtin styles and configuration files.

[2020-06-21 17:41] marph91 commented on #424
@m-kru: Are you sure about lowercase? In the [docs](https://vhdl-style-guide.readthedocs.io/en/latest/process_rules.html#process-017) its written uppercase. Also when I tried it, the process labels were converted to uppercase.

@jeremiah-c-leary: I think it should be disabled, to keep it consistent to the other prefix and suffix rules.

[2020-06-21 17:47] m-kru commented on #424
@marph91 Yes, I am sure. This doc probably needs an update. We are leaning towards making everything lowercase by default, and then uppercase in style and configuration files. It is more consistent approach.

[2020-06-21 18:35] marph91 commented on #424
That makes sense. Now I see that the case is checked by a separate rule.

Btw.: The [shebang of the vsg executable](https://github.com/jeremiah-c-leary/vhdl-style-guide/blob/3e987c7a3981473156a665dfb710ce337df86bd6/bin/vsg#L1), invoked on my system (Opensuse tumbleweed) Python 2, which led to strange errors. I had to fix it by writing explicitly `python3`. Should I include it in the PR? Not sure i

[2020-06-21 19:03] marph91 commented on #425
I agree, updating all the rules probably isn't worth the effort. When the configuration is fixed once, it doesn't matter anymore.

Maybe one thing that could be done with manageable effort is to update only the docs, not the python code. I. e. write a short identifier to each rule, like at your last image. This would speed up at least the use case when looking for a specific rule, where you know a

[2020-06-21 20:32] m-kru commented on #424
Do not include it in PR, Python 2 is no longer supported.

[2020-06-22 15:47] ericjmcd commented on #426
Thanks - that works like a charm.  I might be useful to throw a warning if "file_list" and "-f" are both used.  I'll leave this ticket open for you to track updating the documentation.

[2020-06-22 20:00] ericjmcd commented on #427
Appears fixed in 1.12.0.  Thanks once again for the quick turn-around!

[2020-06-22 20:00] #427 closed

[2020-06-22 23:28] staerz commented on #425
I my opinion, don't complicate things!

Keep the rules as they are, they follow a very nice and easy to understand convention, but sure, the numbering may appear arbitrary.

But does that matter?

My use case (and I have disabled some 38 rules for various reasons for now):
- apply VSG to your code base as VSG comes
- check (RTFM) the offending rules: If you agree to the rule, fix the problem in th

[2020-06-23 00:02] staerz opened #429 "Indentation rules fake report due to missing environment label"
**Environment**
VSG 1.11.1 @ fedora 30

**Describe the bug**
A missing label for a `generate` statement results in misleading reports of indentation rule violations.

**To Reproduce**
Steps to reproduce the behavior:
1. Run VSG on the following code

[code]

The following rules are affected:
- architecture_007          |        112 | Invalid indentation.
- architecture_008          |        148 |

[2020-06-23 00:18] staerz commented on #429
Note: The fake warnings actually also show up when the signals would be declared in a process environment ...

[2020-06-23 01:58] jeremiah-c-leary commented on #429
It looks like the LRM says the generate label is required:
![image](https://user-images.githubusercontent.com/24329243/85351762-1829af80-b4ca-11ea-996a-a1ebfd343ef0.png)
It also appears generate statements have evolved from the source I was using.

I could update VSG to handle this, but I am curious why a tool would ignore the LRM.  Unless I am missing something.

[2020-06-23 02:15] jeremiah-c-leary commented on #425
This is the eternal struggle.  The more I think about this idea, the more I like it, but as @staerz says:

I follow the same methodology as @staerz, and yet I can see if I had to go back to previous configurations and saw:
[code]
I would have no idea what it is.  That would prompt me to go look at the documentation again.  Which is probably why @marph91 is putting comments in the YAML file to desc

[2020-06-23 02:23] jeremiah-c-leary commented on #426
Well...I found the documentation.  It was under the Usage section, which doesn't seem correct.  I think I will move it.

[2020-06-23 02:31] #426 closed

[2020-06-23 02:32] jeremiah-c-leary commented on #416
This appears to be working, so I am going to close it.

[2020-06-23 02:32] #416 closed

[2020-06-23 05:11] m-kru commented on #425
I also use comments, example:
[code]

Some of the alternative names would have to be quite long to express what the rule is about.
Going through the documentation to get to know the rules is not a time consuming process.

[2020-06-23 12:42] jeremiah-c-leary commented on #424
@marph91 ,
I thought the shebang was replaced when pip does an install.

[2020-06-23 13:22] m-kru commented on #375
PR is waiting https://github.com/jeremiah-c-leary/vhdl-style-guide/pull/430

[2020-06-23 13:28] m-kru commented on #413
This issues should be closed when https://github.com/jeremiah-c-leary/vhdl-style-guide/pull/430 is merged.

[2020-06-23 14:13] qarlosalberto commented on #401
Thak you @jeremiah-c-leary !

The only one is this: https://github.com/jeremiah-c-leary/vhdl-style-guide/issues/419   Or do you prefer to add it in the next version?

[2020-06-23 14:15] staerz commented on #425
@m-kru, I do it exactly like this as well!

[2020-06-23 14:18] staerz commented on #429
Hi @jeremiah-c-leary,

just out of curiosity, where did you look up the LRM?

I can only say that Quartus and Questa both didn't complain about the missing label! I only realised it when asking myself why VSG complains that it is actually missing :rofl:

[2020-06-23 14:23] m-kru commented on #328
Again, noble but unproductive discussion. We all agree, that it would be much better to have single parser generating AST/CST, but nothing is going to change and each project is going to grow in its own complexity. I think VSG could be relatively easily rewritten to use rust_hdl, however what is the point if all other tools are still going to use their own parsers. There would need to be a more co

[2020-06-23 14:48] joshrsmith commented on #420
Confirmed resolved!

[2020-06-23 14:48] #420 closed

[2020-06-23 14:52] marph91 commented on #424
I didn't install via pip. I used the following lines to get the develop version:
[code]
Problem is that `python` is an alias of `python2`. At least in Opensuse. Probably this isn't the case for other distributions, as you don't have the problem.

[2020-06-23 15:03] marph91 commented on #425
Ok, using comments is fine for me, considering the high efforts for the little gain. Imo the ticket can be closed if there is no new argument for the alternative names.

[2020-06-23 15:22] #425 closed

[2020-06-23 15:56] joshrsmith opened #431 "instantiation_024 false positive with multi-line actual in generic map"
**Environment**
VSG 1.12.0
Python 3.7.2

**Describe the bug**
I found another edge case, similar to #407 that this issue is triggered.

In a generic map:
[code]
Note that the actual is broken up over two lines because the constants are very long names. Also, there are a few generic assignments in the portmap similar to this in a row. The second line of each assignment is what gets flagged by vsg (

[2020-06-23 16:58] jeremiah-c-leary commented on #429
I found the LRM at this location:  http://www.eda-twiki.org/twiki/pub/P1076/PrivateDocuments/1076-2018-5C.pdf

so this is an interesting situation.  I am not 100% sure how to proceed.  Part of me says to stick with the LRM.  Another part wants to match Intel/Mentor Graphics.

Opinion?

[2020-06-23 17:36] staerz commented on #429
So then I'd say follow the IEEE rules.

I just looked up the [2008 version of the LRM](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwi96ubuupjqAhXhguAKHVpIBFoQFjAAegQIARAB&url=ftp%3A%2F%2Fftp.lpp.polytechnique.fr%2Fjeandet%2Fkeep%2Fsync%2Fvhdl%2F4772740_IEEE-1076_Standard-VHDL-Language-Ref-Manual.pdf&usg=AOvVaw2qqJkXL3OFnX3fUZVmdlyl) and there also a label is required f

[2020-06-23 17:43] jeremiah-c-leary commented on #429
I have not debugged this yet, but I am positive VSG thinks it is an if statement and then gets confused.

The statement is clearly a generate statement, whether it has a label or not.  So I propose the following:

  1)  Update VSG handle a generate without a label
  2)  Add a rule that says generates should have labels

[2020-06-23 20:03] staerz commented on #429
That sounds very good to me!

[2020-06-23 23:58] #350 closed

[2020-06-24 00:13] jeremiah-c-leary commented on #352
So I looked at the LRM again and there is a section for sequential signal assignments:
![image](https://user-images.githubusercontent.com/24329243/85479989-d4e04700-b584-11ea-8577-adaeb5d5c022.png)
and concurrent signal assignments:
![image](https://user-images.githubusercontent.com/24329243/85480025-e590bd00-b584-11ea-8ed3-7bf399a3f0d0.png)
and those would be different than the signal definition

[2020-06-24 00:20] jeremiah-c-leary opened #432 "Change single space rules to at least one space."
Some rules enforce a single space when they should enforce at least a single space.

Examples are:  constant_005 and constant_010.  Others exist.

[2020-06-24 02:58] jeremiah-c-leary opened #434 "Create identifier alignment rule"
There are several rules which attempt to align identifiers:

file_003
constant_003
attribute_003
signal_003
subtype_003
type_003
variable_003

There should be one rule that aligns the identifiers over multiple lines.
This would be similar to the keyword alignment rule, but would operate on identifiers.

This is a item 3 in issue #352

[2020-06-25 15:55] jeremiah-c-leary opened #435 "fix.insert_blank_line_above and fix.insert_blank_line_below do not honor inside line attributes"
There are several line attributes that indicate if a line is inside a VHDL construct.  For example, line.insideArchitecture.

The two functions used to insert lines:  insert_blank_line_above and insert_blank_line_below do not transfer these attributes when inserting lines.

This can cause issues when rules are checking for those inside attributes.

[2020-06-27 11:20] #424 closed

[2020-06-30 19:35] jeremiah-c-leary commented on #349
@m-kru ,
I was looking at the list of tickets:

#351
#352
#353
#354
#355

and we have decided to defer #353 and I pushed #355 to the release after 2.0.0.
The only one open  is #352, which should hopefully be completed with pull request #433.

Just wondering if you feel good closing this issue.

[2020-06-30 20:23] jeremiah-c-leary commented on #365
@m-kru,

This seems like a chicken and egg problem.  I can't set the SHA for the release(tag) until I create the tag.  At which point I can't update the SHA for the version command.

I could do this as part of the deploy to pypi, but it would not work if you pulled down master.

I found this command:
[code]
which I could parse for the pypi release.
There is also
[code]

To implement this would VSG

[2020-07-01 01:07] jeremiah-c-leary commented on #290
@m-kru,
I am going to start on this.  I think I will combine `signal_015` and `signal_016` into a single rule.

[2020-07-03 14:33] jeremiah-c-leary commented on #399
Hey @staerz ,
This is being scheduled for a 1.13.0 release.

[2020-07-04 00:56] jeremiah-c-leary commented on #402
Hey @ericjmcd and @nfrancque

I have this feature mostly implemented, but I ran into something I would like some feedback on.  There are two conditions to consider.

First condition, running VSG without the `--fix` option:

* If a rule is configured as a warning, then use the rule against the code but do not stop if there is a failure.
* If a rule is configured as an error, then use the rule again

[2020-07-04 14:15] ericjmcd commented on #402
I think the whole purpose of the warning is to allow for things that you don't generally want so fixing them would defeat the purpose.  For example, I sometimes put comments on lines in the port map of an instantiation - usually TODOs. I wouldn't want those fixed.

I think we'll use warnings as "soft rules/recommendations" and let the developers decide for themselves although they'll be tracked in

[2020-07-04 14:32] jeremiah-c-leary commented on #402
So it sounds like we should only fix errors.  I think that makes sense.

Do you want to include warnings in the JUnit XML file?

Here is an example output with severities:

[code]

The built in severities are `Error` and `Warning`.  I am allowing the user to define their own severities.

[code]
...as long as they use an existing type of severity.

[2020-07-04 19:23] jeremiah-c-leary commented on #402
Hey @ericjmcd ,

I just created a pull request, #439, for this issue.  Could you take a look at it and pull down the branch and kick the tires a little.

Thanks,

--Jeremy

[2020-07-05 04:09] ericjmcd commented on #402
@jeremiah-c-leary that looks fantastic.  Unfortunately (or I guess "fortunately"), I'm going on a vacation tomorrow for a week so I won't be able to try it out until I get back.

[2020-07-05 12:48] jeremiah-c-leary commented on #402
@ericjmcd ,
Have a good vacation.

[2020-07-16 10:30] Emilv2 opened #440 "Don't care in port map generates errors"
**Environment**
vsg 1.12.0

**Describe the bug**
Don't cares in port map are treated wrongly as comments or math operators

**To Reproduce**

input file:

    -- test.vhd

    library UNISIM;
      use UNISIM.vcomponents.all;

    entity TEST is
      port (
        INPUT   : in    std_logic;
        DI0     : in    std_logic;
        OUTPUT  : out   std_logic
      );
    end entity TEST;

    ar

[2020-07-16 10:42] Emilv2 opened #441 "comments are treated as code"
**Environment**
vsg  1.12.0 from pypi

**Describe the bug**
comments are treated as code and get "fixed" too.

**To Reproduce**
Steps to reproduce the behavior:

input file:

    -- test.vhd

    library UNISIM;
      use UNISIM.vcomponents.all;

    entity TEST is
      port (
        INPUT0   : in    std_logic;
        INPUT1   : in    std_logic;
        INPUT2   : in    std_logic;
        INPUT

[2020-07-16 14:11] jeremiah-c-leary commented on #440
Hey @Emilv2 ,

I will schedule this for the 1.13.0 release.

[2020-07-16 14:12] jeremiah-c-leary commented on #441
@Emilv2 ,

I agree, the commented out generic map line should have been ignored.
I will schedule this for  the 1.13.0 release.

[2020-07-17 17:06] staerz opened #443 "Check signal_013 also in block and process environment"
**Is your feature request related to a problem? Please describe.**
The existing rule `signal_013` checks for the proper alignment of the colon in signal declaration sections.
This check seems to be limited to the bare signal declaration section of the `architecture`.

VHDL allows to declare signals also in `block` and `process` environments (as it also allows the definition of (local) constants an

[2020-07-17 17:17] staerz opened #444 "VHDL-2008 (if|case) generate and blocks"
**Environment**
VSG 1.11.1, Fedora 32

**Describe the bug**
:bug: indentation in/after `else generate` and `case generate` (concurrent_001, generate_001, generate_006, generate_007, generate_016, signal_001) (VSG 1.11.1)

VSG seems to have a problem with the VHDL-2008 syntax for `else generate` and `case generate` leading to a fake `Invalid indentation.` warnings.

The following code
[code]

or al

[2020-07-17 17:24] staerz opened #445 "Add option for alternative indentation for instantiation_001"
**Is your feature request related to a problem? Please describe.**
It's a matter of convention, but it would be very nice to have maybe a configuration to chose the one or the other, see description.

**Describe the solution you'd like**
VSG currently would indent as follows:

[code]

while it should rather be
[code]

That example is written in a `block` environment, but applies to all environment

[2020-07-17 19:41] #432 closed

[2020-07-17 20:08] #434 closed

[2020-07-17 20:12] #399 closed

[2020-07-18 01:04] jeremiah-c-leary commented on #444
Hey @staerz ,

I am planning to release 2.0 this weekend unless something untoward happens.  I will the schedule this for the 2.1 release.

[2020-07-18 01:09] jeremiah-c-leary commented on #443
I agree, the rule should operate on any signal declaration.  I might make separate rules based on the location to allow for finer control of the formatting.

I.e. I would get
"process_024 | 37 | Ensure a single space exists between process label and :"
but not the relative complaint for the block section.
(Maybe that's for an independent issue...)

Blocks are currently a blind spot for VSG.  I thi

[2020-07-18 01:22] jeremiah-c-leary commented on #445
Hmmm....This is a different kind of configuration since indenting is fixed by the code that analyzes the VHDL before the rules are applied.

Maybe something like this:

[code]
...where just a number sets an absolute indent value.  The `+1` would indicate to indent an extra level.  The `-1` would indicate to un-indent one level.

So in your case you would use:

[code]

When the analyzer goes throug

[2020-07-18 01:24] jeremiah-c-leary commented on #441
Hey @Emilv2 ,

I am planning to release 2.0 this weekend unless something big prevents me.  So I was going to schedule this for the 2.1.0 release.

[2020-07-18 01:25] jeremiah-c-leary commented on #440
Hey @Emilv2 ,

Same comment that I put into #441 .  I will schedule this for the 2.1.0 release.

[2020-07-18 01:27] jeremiah-c-leary commented on #431
Hey @joshrsmith ,

I just realized this was 24 days old.  I am planning to release version 2.0.0 this weekend and then I can focus on this bug.

[2020-07-18 01:50] jeremiah-c-leary commented on #312
so after a long time thinking about tokens and parsing VHDL, I think I have come up with a partial solution.

In VSG, the parsing and the rule analysis are tightly coupled.  While this worked initially, I think I have come to the point where I need to abstract the parsing from the rules.  With the goal being that I could replace the current parsing code with another parser and then use the abstrac

[2020-07-18 20:55] jeremiah-c-leary commented on #349
Hey @m-kru ,
I am going to close this issue as I just released 2.0.0.

[2020-07-18 20:55] #349 closed

[2020-07-18 20:56] jeremiah-c-leary commented on #413
Hey @Malcolmnixon ,

I just release version 2.0.0.  Could you check if this issue is resolved to your satisfaction?  If so, could you close this ticket.

Thanks,

--Jeremy

[2020-07-18 21:14] jeremiah-c-leary commented on #352
Hey @m-kru ,
I was going to close this issue because I released version 2.0.0.

[2020-07-18 21:14] #352 closed

[2020-07-18 21:16] #375 closed

[2020-07-18 21:17] jeremiah-c-leary commented on #396
Hey @staerz ,

I just released version 2.0.0.  Could you double check that it addresses the issues you identified in this ticket.  If so, could you close this ticket?

Thanks,

--Jeremy

[2020-07-18 21:18] jeremiah-c-leary commented on #393
I think I need to add some context rules also.

[2020-07-18 21:20] jeremiah-c-leary commented on #408
what should the default value be, and I would make this a warning versus an error.

[2020-07-18 22:12] Emilv2 opened #446 "Generic case is not fixed everywhere"
**Environment**

VHDL Style Guide (VSG) version 2.0.0

**Describe the bug**

**To Reproduce**

`vsg -f test.vhd --fix`

    -- test.vhd
    entity test is
      generic (
        my_generic : std_logic
      );
      port (
        output : out   std_logic
      );
    end entity test;

    architecture rtl of test is

    begin

      output <= My_gEneriC;

    end architecture rtl;

**Expected b

[2020-07-18 22:18] Malcolmnixon commented on #413
Just tested this using version 2.0.0 and it works fine. Many thanks and good job with the project!

[2020-07-18 22:18] #413 closed

[2020-07-18 22:25] jeremiah-c-leary commented on #446
Hey @Emilv2 ,
This is similar to rule `signal_004`.  I created another rule `signal_024` that checked for the consistent case of signals.

Generics are an interesting case.  If the entity is not declared in the same file, then there will be nothing to check against.  Another corner case is if there are multiple architectures defined in a file.

If you don't mind, could we change this to an enhance

[2020-07-19 11:08] nfrancque commented on #408
Agree, if we can't do multiple levels by the count would make it a warning.  How does 500 sound?

[2020-07-19 11:11] nfrancque commented on #312
That makes sense.  Would you like to use this issue to discuss what that API would look like?  Also unsure how this would work for new rules without breaking old ones.

[2020-07-19 11:22] nfrancque commented on #411
So it looks like this has devolved into two separate issues.

1) Providing common configurations and an ability for users to add more preset configurations to the tool.

2) Adding a feature to export a configuration that best matches the code being analyzed - possibly an entire codebase rather than a single file?

For 1, this was implemented by #397 and seems to be working now.  I would like to co

[2020-07-20 13:35] eine commented on #328
@m-kru, I'm doing my best... https://github.com/ghdl/ghdl/issues/1393#issuecomment-658946312

BTW, I was happy to read that @jeremiah-c-leary's explanation in https://github.com/jeremiah-c-leary/vhdl-style-guide/issues/312#issuecomment-660405030 is similar to the following quote from above:

[2020-07-20 14:20] staerz commented on #393
Yes, I think that would be helpful :+1:

(FYI: I'm just testing VSG 1.12.0 and that one, of course, still remains.)

[2020-07-20 14:22] staerz commented on #445
Yes, that sounds like a very good solution!

[2020-07-20 14:28] staerz commented on #443
Yes, the rule should operate on any signal declaration, but I don't see why you'd need new rules for different levels.

I see that you removed `signal_013` in VSG 2.0.0?!

I mean `signal_013` was meant to "This rule checks the colons are aligned for all signals in the architecture declarative region." - if you simply remove the "architecture" from that description, it would still be fully correct!

[2020-07-20 14:32] staerz commented on #444
Hi @jeremiah-c-leary,

yes, I'm just updating to VSG 2.0.0. It changes a few things and I get many complaints on `entity_017` now - I'll have to see what that is :)

Incorporating VHDL-2008 syntax in VSG for us is utterly important as we use it quite often (simply the `if ... generate ... else generate` and `case ... generate` is too awesome to not use it!).

[2020-07-20 16:38] m-kru commented on #328
@eine I am trying to define tree-sitter for VHDL https://github.com/m-kru/tree-sitter-vhdl. In my humble opinion it would be really good to have it as a single entry point for different tools. The parser is described in fully declarative way. Everyone can add rules, even without programming knowledge. If I succeed, I plan to replace vhdl_ls parser with the one generated by the tree-sitter and exte

[2020-07-20 16:44] staerz commented on #396
Hi @jeremiah-c-leary,

yes, VSG 2.0.0 fixes this issue, hence closing :+1:

[2020-07-20 16:44] #396 closed

[2020-07-20 16:53] staerz opened #447 "errornous group definition for concurrent_006"
**Environment**
VSG 2.0.0, fedora 32

**Describe the bug**
It's all fake news! "Inconsistent alignment of "<=" in group of lines." is reported as a violation of `concurrent_006` with the introduction of VSG 2.0.0 on the following code piece (being the architecture):
[code]

Clearly, these are 3 independent groups, but the current configuration doesn't allow to handle that, it seems.

I hope I have

[2020-07-20 16:58] jeremiah-c-leary commented on #447
Those should be treated separately.  I will investigate.

[2020-07-20 17:13] staerz opened #448 "Misleading/confusing error message on entity_017, architecture_026"
**Environment**
VSG 2.0.0, fedora 32

**Describe the bug**
The error message for entity_017 is misleading: "Inconsistent alignment of ":" in generic or port declaration of entity."

It is thrown on the following code:
[code]
Fixing it, leads to that piece of code:
[code]
Note that the difference is 1 space that was removed in front of each single ":" sign.

Previous VSG versions wouldn't bother fo

[2020-07-20 18:21] eine commented on #328
@m-kru, based on previous discussions, using a "general purpose" parser generador for VHDL is a dead-end. It might be enough to parse the most common features of VHDL 1993, and maybe some of VHDL 2008. But there seems to be consensus in both VHDL and Verilog being complex enough to require custom parsing architectures. See [October 18, 2019 1:32 AM](https://gitter.im/ghdl1/Lobby?at=5da8fa12894dee5

[2020-07-20 19:03] staerz opened #449 "Modify architecture_003 to allow comment before architecture"
**Is your feature request related to a problem? Please describe.**
The rule `architecture_003` requires an empty line before the `architecture` keyword.

That is fine, but lacks the option that a comment (i.e. for doxygen or other documentation tools) may be added.

Hence
[code]
is a violation of that rule and one would have to make it
[code]
which adds an unnecessary blank line.

Note that doxyge

[2020-07-20 19:48] staerz opened #450 "constant_012 cannot handle aggregates"
**Environment**
VSG 2.0.0, fedora 32

**Describe the bug**
The rule `constant_012` doesn't treat aggregates properly.

Imagine any constant of type record (and we assume the easiest way here, but one could also imagine nested records) where one element is a `std_logic_vector`:
[code]
VSG reports a false violation "Invalid indentation." here.
It is probably due to the opening parenthesis (that's th

[2020-07-20 21:39] jeremiah-c-leary commented on #449
I think this one issue can handle the entity, library, architecture and type rules.

[2020-07-20 21:42] staerz commented on #449
Alright, then I won't open further issues.

[2020-07-20 21:48] staerz opened #451 "Improve documentation on suffix/prefix rules"
**Is your feature request related to a problem? Please describe.**
The VSG documentation is very good in general.

VSG 2.0.0 introduced the rules for prefixes and suffixes, which, on its own, is a very awaited feature, but its documentation has room for improvement.

**Describe the solution you'd like**
The documentation should be improved listing all rules that have the option of prefix/suffix in

[2020-07-20 21:49] staerz commented on #451
PS: I think that's my last comment on VSG 2.0.0 :wink:

[2020-07-21 14:01] Nic30 commented on #328
I can potentially programmatically migrate [hdlConvertor](https://github.com/Nic30/hdlConvertor) grammars to tree-sitter from Antrl4. However I have never seen a comparison where Antrl4 lost against the tree-sitter (I am trying to help wherever I can, if you know about something, please share. ).

@m-kru

Exactly, but how to convince others to actually use any parser if it is not 100% complete. Ho

[2020-07-21 14:20] eine commented on #328
@Nic30, thanks for your insight. I think you nailed it. Any of the projects we are talking about is far beyond a single human's capacity, and still most of the projects are single person shows. I believe that is because stepping into any of them is very hard, and most new users are daunted before even trying it. Many do start their own project, believing that "there must be some easier way to deal

[2020-07-21 14:56] Emilv2 commented on #446
I didn't think of those corner cases, do with this what you think is best and realisable.

I haven't taken a look at your code, but I dont' think you're really parsing vhld since vsg also works on invalid vhdl. In an ideal case I'd say you would have to write a complete vhld parser to solve issues like this. Or use one, it should be possible to use GHDL (https://github.com/ghdl/ghdl/issues/1156) a

[2020-07-21 16:03] jeremiah-c-leary commented on #446
Funny you mention that, there was an issue that talked about it #312 .  I am currently in the process of switching to a better parser, or one could argue a real parser.  I was originally using regular expressions.  While it worked for generally well formatted code, it could not handle anything too extraordinary.

I think I have decided that I need to abstract away the parser so I can focus on the

[2020-07-21 16:06] m-kru commented on #328
@Nic30 here is my story and thoughts.

I have started few months ago by analyzing GHDL internals. I gave up after 2 weeks because of ... Ada. Some people say it should be easy to get into GHDL, because Ada is very similar to the VHDL and hardware developers are familiar with it. As we can see on the GHDL contributors list, this argument has convinced no one. What made me feel overwhelmed was not A

[2020-07-21 17:34] eine commented on #328
@m-kru, WRT rust_hdl vs GHDL, I believe that the language has little to do with the complexity. GHDL does much more than just parsing, and most of the additional complexity is related to that. However, I agree that tooling in Rust is much better, and that would be a strong point to rewrite GHDL (which is an astonishing effort).

I am using "parser" as a wide term that involves not only generating

[2020-07-21 17:41] Nic30 commented on #328
@m-kru

I always wanted to try how incremental parsing works on larger scale with a complicated grammar like System Verilog it could be very tricky, because the preprocessor does not run in incremental mode and some code construct may require reparse of very large section of the text.

I am sure GHDL does not support parallelization, but that is not the case of antrl4 based tools.

I believe that

[2020-07-21 19:27] eine commented on #328
@Nic30, I didn't want to dismiss your work at all. I said 2y as the coarse estimate of the minimum time to write a VHDL 2008 parser from scratch. In the last 5-8y you did many other things apart from that (which I find VERY exciting, since I had the same wish).

[2020-07-22 00:52] jeremiah-c-leary commented on #328
@GlenNicholls ,
You should see what @qarlosalberto has done in issue #401 and issue #418.  I think that is VSC.

[2020-07-22 01:43] jeremiah-c-leary commented on #328
So...I am at the point where I would like to split myself from my current parser and use something else.

I am currently working on an issue to apply formatting rules to context clauses.  I decided to try to create a different model of the VHDL file I am analyzing.  I am using unique objects for the VHDL keywords etc...  This might end up being my abstraction layer.

In order to add the rules for

[2020-07-22 01:46] jeremiah-c-leary commented on #328
This might be a crazy idea, but could someone write a parser for the VHDL LRM that would automatically create a parser for VHDL code.  Then when the LRM changes we get a new parser automatically.  It would always be up to date and 100% accurate.

[2020-07-22 03:29] eine commented on #328
@Paebbels, can PyVHDLParser currently fulfill the requirements [above](https://github.com/jeremiah-c-leary/vhdl-style-guide/issues/328#issuecomment-662193492)?

- If possible, I'd try PyVHDLParser.
- Otherwise, I guess that between hdl_rust or hdlConverter it is a matter of flavour (any of them might need some tweaks/enhancements).
- GHDL is a very solid foundation, and many users will already hav

[2020-07-22 06:07] Nic30 commented on #328
@jeremiah-c-leary

https://github.com/Nic30/VHDL_and_SV_formal_grammar_to_ANTLR4

[2020-07-22 06:17] m-kru commented on #328
@eine

I didn't want to suggest, that Ada is the source of complexity. I wanted to suggest that sometimes the infrastructure around the language is what makes the difference, not the language.

I am 99% sure, that vhdl_ls utilizing rust_hdl reparses whole file on change.

This is what I was also thinking about.

The problem is that different parsers are missing different features and each tool use

[2020-07-22 13:01] eine commented on #328
@m-kru, agree. However, I think that the best strategy to fix that is to work on it feature by feature. Naturally, one (you) could write a loooong list of desired features for some parser, then analyze each existing parser and publish some "comparison table" showing which features match, which are missing, etc. However, that is a LOT of work, because you need to learn about the internals of all th

[2020-07-24 11:29] jeremiah-c-leary commented on #393
Hey @staerz ,

Could you checkout the issue-393 branch and let me know if that fixes the issue for you.

I added 27 rules for context declarations.  I have not implemented context_028 yet, which will align comments within a context declaration.  I wanted your feedback before I tackled that one.

[2020-07-24 14:50] staerz commented on #393
Hi @jeremiah-c-leary,

I have cloned the repo, checked out the branch and ran the install script, but it seems it doesn't bring a difference.

How can I check if the version in that branch is really being used? Of course, I tried `vsg --version`, but this only gives me a "VHDL Style Guide (VSG) version 2.0.0", but not the commit SHA.

The reason I'm asking is that I don't see any change.

The file

[2020-07-24 14:56] jeremiah-c-leary commented on #393
hmm...I would expect your first file to look like:

[code]

You could use the `-oc` option to output all the rules and their configurations.  Then check the output json file for `context`.

[2020-07-24 15:09] staerz commented on #393
Alright, I would have to "pip uninstall vsg" first, and then install the local version using your install script.

So yes, absolutely, now VSG complains about the missing blank lines and wants the "context" in the last line.

But I now also get a fake violation on the package file `fpga_if.vhd`:
[code]
"For the record" (I like puns :rofl:), this looks like this:
[code]
(line 191 is the last one he

[2020-07-24 15:15] staerz commented on #393
And a very different remark: I now only realise that you use 2-lettered short options in VSG, which I think is highly uncommon.

Being more of an expert for bash than for python, I'd say short options are to be one letter only, while long options is anything more than one character and then is indicated with a leading double hyphen.

I recommend you consider this for a VSG 3.0.0 ...

[2020-07-24 15:16] jeremiah-c-leary commented on #393
Nice!!

So I currently handle the declaration of a context, but not it's ... instantiation?.  My guess is  my parser is considering the `end` to be part of the context declaration.

Thanks for checking that out.  I will add support for calling out the context.

[2020-07-24 15:17] jeremiah-c-leary commented on #393
Agree.  I would like to revamp my command line arguments.  I seem to be collecting quite a few.

[2020-07-24 15:43] staerz commented on #393
In [this e-book](http://ebook.pldworld.com/_eBook/FPGA%EF%BC%8FHDL/-Eng-/VHDL-2008.%20Just%20the%20New%20Stuff%20(Peter%20Ashenden,%20Jim%20Lewis).pdf) I found the term "context reference", and also the IEEE Standard VHDL Language Reference Manual (ftp://ftp.lpp.polytechnique.fr/jeandet/keep/sync/vhdl/4772740_IEEE-1076_Standard-VHDL-Language-Ref-Manual.pdf) calls it "context_reference" (chapter 13

[2020-07-24 19:14] jeremiah-c-leary commented on #393
Thanks a lot.  The version I had was really vague on context statements.

[2020-07-24 21:26] staerz commented on #393
Hi @jeremiah-c-leary,

and after a little break, you know, actually, the format of the context file should even be a little more indented:

[code]
Note the extra indentation for the `context` and `use` keyword after the library indication.
This extra indentation currently throws a
[code]
(17 and 19 are the `use` lines).

[2020-07-25 18:51] jeremiah-c-leary commented on #393
That helps me a lot.  I like the use being indented from the library.   The context seemed to behave like a use statement so it should be at the same level.

Parsing the `context reference` was a real pain.  Both the reference and the declaration start with the same keyword `context`.  So when I run into it, I have no idea which one it is.  I think I finally nailed it though.

I writing rules for

[2020-07-26 19:51] jeremiah-c-leary commented on #393
Hey @staerz ,
I just pushed my latest updates for this issue.  Could you update again and try it out?

Thanks,

--Jeremy

[2020-07-26 20:01] staerz commented on #393
On the constants (as posted above):
[code]
really? :rofl:

Well, that's a matter of taste maybe, but I agree, for consistency, it is alright.

On a usage
[code]
I get
[code]
which is absolutely valid. Saying your check works here.

No problem on the
[code]
So also that seems alright!

Looks like you have it!

[2020-07-26 20:39] jeremiah-c-leary commented on #393
I struggled whether to include that rule.  What would you think of disabling that rule by default?  That way it is there for someone to use if they want.  I do not have a strong opinion about the case of libraries.

Looks like you have it!

Sweet.  You can enable all the `context`, `context_ref`, and `library` rules.

I need to do some refactoring before I pull this into master.  Hopefully in the

[2020-07-27 14:38] staerz commented on #393
Hi @jeremiah-c-leary,

alright, so on the upper/lower case for the library and context, see 13.9 in the ftp Link (IEEE specs):

[code]
(note that they don't indent the `use` clause - but that would be sth. for your suggested indentation configuration, where simply a `0` would do that.)

So I think what I would do:
- go with this by default

Now, to make that in line with the rest of the VSG config

[2020-07-27 14:58] Malcolmnixon opened #452 "Tiered approach to case rules"
**Is your feature request related to a problem? Please describe.**
I'm working on a project where the coding standard specifies keywords in upper-case, and user-identifiers in lower-case.
In order to get this working I've had to build a style-rules.yaml file with an enormous number of case rules.

**Describe the solution you'd like**
The 'generic case' rule sets the default case, which can be over

[2020-07-27 15:05] jeremiah-c-leary commented on #452
@Malcolmnixon ,

That sounds like a good idea.

It fits in nicely with the code restructuring underway that would make that fairly easy to do.

[2020-07-27 15:34] jeremiah-c-leary commented on #393
I could make it generic by using an attribute named `always_uppercase_words_starting_with` and default it to a list with `IEEE` in it.  That attribute would  be in the case class so it would apply to every case check.  Then it could be overridden by the user on a rule by rule basis.

[2020-07-27 15:47] staerz commented on #393
Yes, that's what I also though about after I sat back a bit as you have that feature for `architecture-025` which I find very well suited and flexible enough to accommodate the idea expressed above.

Though watch out, your `always_uppercase_words_starting_with` wouldn't allow to intentionally do the inverse casing.
I think what I'd rather do is an exception list - and this list could contain any c

[2020-07-28 01:03] jeremiah-c-leary commented on #393
That is an interesting idea.  A list of correct word capitalizations.  Then we parse the string for the word.  If we find a lowercase version of it, then we compare it to what is in the list.  For the fix, we just use what is in the list.

If it is not in the list, then we upper or lower case depending on the how the rule is configured.

[2020-07-28 12:43] #402 closed

[2020-07-28 13:20] jeremiah-c-leary commented on #441
Hey @Emilv2 ,

I have a fix for this issue.  It will be in the 2.10 release.

[2020-07-28 13:22] jeremiah-c-leary commented on #435
Due to the new method of representing data as objects, this issue is no longer relavent.

[2020-07-28 13:22] #435 closed

[2020-07-28 14:34] jeremiah-c-leary commented on #451
I wonder if I could auto update the documentation to pull the rules that apply.  Otherwise, maintaining the list will be troublesome.

[2020-07-28 14:45] staerz commented on #393
Yeah well, just complaining how bad things are isn't really helpful, so proposing a possible solution once in a while does actually put things forward, although I won't be able to contribute directly to the code (my python knowledge is --)

[2020-07-28 14:49] staerz commented on #451
So yeah, no clue how you do your documentation. Would it be possible to link pieces by some anchors? Like an include, or a real link? Then you could mark this anchor to the rules that apply - and the rules then just point back to the global rule documentation.

[2020-07-29 10:36] jeremiah-c-leary commented on #393
Hey @staerz ,

I would like to get this issue pushed to master to address the error.  Would you be okay if I created a new issue to add case exception?

[2020-07-29 11:47] jeremiah-c-leary commented on #418
Hey @qarlosalberto ,

I just committed a fix for next line code tags being flagged for non alignment.  Could you update and let me know if it works for you?

Thanks,

--jeremy

[2020-07-29 13:45] staerz commented on #393
Hi @jeremiah-c-leary,

absolutely. Keeping the issues small is what a good developer should do :+1:

[2020-07-31 01:49] #393 closed

[2020-07-31 19:13] staerz commented on #393
Hi @jeremiah-c-leary,

I'm just trying it out and it looks good to me.

Since I now pull directly on the repo, I see all the updates. I see that you add tests for every single rule. I wish that everybody would do like this! This is excellent! (And I only use this word when I mean it.I)

One remark when looking into your (latest) documentation: "context_011" you propose this check for the semicolon

[2020-07-31 19:33] staerz commented on #393
Ah, and the new "context_ref_..." rules do not appear in the documentation, is that expected?

[2020-08-03 21:01] staerz commented on #365
Hi @jeremiah-c-leary,

so the command that you should imply for your version is `git log --pretty=%h -n 1`.

This will simply give you the the (short version of the) commit SHA.

This will work as long as you have VSG as a repo.

I don't know how the pypi release works. But at least for your local install script, you could simply run this git command and make the output part of the `--version` out

[2020-08-03 21:12] staerz opened #454 "(Add option to) shorten VSG output"
**Is your feature request related to a problem? Please describe.**
From VSG 1.11.1 to VSG 2.0.0 the produced output became longer.

In particular when everything goes well, I find it unnecessarily long:

[code]

Instead, something like this would fairly be enough:
[code]

**Describe the solution you'd like**
In the case that a file is checked successfully (no violations), a simple one-liner would

[2020-08-03 21:58] staerz opened #455 "Make rule signal_016 compliant with VHDL-2008"
**Environment**
VSG 2.0.0

**Describe the bug**

[code]

VSG utterly crashes (see above error output) upon the following code:
[code]
(note that the first signal is line 43 (still passes) and the second is 48 (**crashes**).)

with and underlying
[code]

Note that the above is VHDL-2008 compliant, but not VHDL-1993:
It is to declare a signal (constrained) from an unconstrained record type.

**To Re

[2020-08-03 22:49] staerz opened #456 "Allow to enforce to omit certain optional VHDL keywords"
**Is your feature request related to a problem? Please describe.**
For consistency, instead of simply disabling rules like `architecture_010`, `architecture_011` or `process_012` on **optional** VHDL keywords, names or labels, it would be appreciated to be able to force to actually omit them.

This may be desired for a certain coding style.

**Describe the solution you'd like**
A possible solution

[2020-08-03 22:52] staerz opened #457 "Add rules for the block keyword (environment)"
**Is your feature request related to a problem? Please describe.**
VSG 2.0.0 currently doesn't have any rules for the `block` keyword.

**Describe the solution you'd like**
Implement rules similar to those of `architecture`:
- naming (upper/lower case, label)
- (optional) `is` keyword
- begin/end (with label)
- ...

**Describe alternatives you've considered**
There is no alternative.

**Additional

[2020-08-03 23:41] jeremiah-c-leary commented on #393
Good catch.  I spent all that time writing them and did not include them.

[2020-08-03 23:41] jeremiah-c-leary commented on #393
I just pushed a commit to include them.

[2020-08-03 23:44] jeremiah-c-leary commented on #365
maybe I could make it part of a `try:`, `except:`.  Then it could work for either case.

[2020-08-04 00:30] jeremiah-c-leary commented on #365
Well...there are times when I tend to over think things.  The `try: except:` was the solution I was looking for, but never thought of until now.

I just pushed a commit with this feature added.

[2020-08-04 00:32] #365 closed

[2020-08-04 00:35] jeremiah-c-leary commented on #454
@staerz ,
Someone else asked for stderr also.

Have you tried the **-of syntastic** option?  The only problem with that is it doesn't report anything if everything passes.

[2020-08-04 00:37] jeremiah-c-leary commented on #455
Hey @staerz ,

I am working my way through my new parser and will catch this as part of that effort.

[2020-08-04 00:40] jeremiah-c-leary commented on #456
Hey @staerz ,

I could add an option for those rules that **add** the optional parameters to make those rules **remove** them.  Then there is a single rule for that optional argument.

[2020-08-04 00:41] jeremiah-c-leary commented on #457
lol, that is true.  I have never used them.

As I rework the parser I will add rules for them.

[2020-08-04 14:38] staerz commented on #365
So you "try" the git command, and "except" prints the version that you hard-code?

[2020-08-04 14:43] staerz commented on #454
I just tried that one (I never did realise this option before).

So yes-ish: the output is shorter, but note that errors are still reported to stdout, not stderr. And as you say, there's no output at all for passing files, which I think is a problem.

So that's not what I'm looking for.

Usually a "--quiet/-q" option would suppress unnecessary output, but by default you'd still get it. (And a "--v

[2020-08-04 14:44] staerz commented on #455
OK, great. Please just make sure it would parse the example above without a false complaint :wink:

[2020-08-04 14:45] staerz commented on #456
That is basically what I am proposing, having used different words.

[2020-08-04 16:11] jeremiah-c-leary commented on #365
I `try:` the git command using `subprocess`.  If you are in the VSG Git working copy, then the command will work and I print out the SHA.  If you are outside the Git working copy, then the command fails and I suppress printing anything about the SHA out.

I either case I print the hard coded version.

[2020-08-04 17:33] staerz commented on #365
Well, this won't do the job, I'd say, as I'll usually call VSG from where it is installed.
I do though install it from a local clone using the python install script (rather than pip install...).

So coming back to the checken-egg problem (where my opinion is that the egg was there first without a doubt), I'd propose the following procedure that works in my head (but I'm not a python developer):
-

[2020-08-05 09:46] qarlosalberto commented on #418
@jeremiah-c-leary sorry for the delay, due to the holidays I'm not programming much in my free time.
Let me a time to test it :)

[2020-08-05 10:37] cuijialang commented on #312
Checklist_ruleset、DO-254_ruleset、RMM_rulesetSafety-Critical_ruleset、Verification_ruleset、Essentials_ruleset、RTLC_ruleset
RMM_ruleset.zip
this is the rulesets
[ruleset.zip](https://github.com/jeremiah-c-leary/vhdl-style-guide/files/5027780/ruleset.zip)

[2020-08-05 10:49] eine commented on #312
@cuijialang, you triggered three notifications for @jeremiah-c-leary in less than 10h, regarding the same issue. Please, be polite and patient. The feature you are requesting is unlikely to be feasible in the short term.

[2020-08-05 16:47] Malcolmnixon commented on #450
I'm having a similar issue with arrays of records. With VSG 2.0.0 I can't find any configuration of bracing in the example below which doesn't stream a bunch of constant_012 Invalid indentation warnings.

[code]

[2020-08-07 00:24] cuijialang opened #458 "vsg is installed but can not use"
**What is your question?**
Ask a question and provide as much relevant information as possible.
vsg is installed but can not use , report below:
Traceback (most recent call last):
  File "/usr/local/bin/vsg", line 11, in <module>
    load_entry_point('vsg==2.0.0', 'console_scripts', 'vsg')()
  File "/usr/local/lib/python3.6/site-packages/vsg-2.0.0-py3.6.egg/vsg/__main__.py", line 327, in main

[2020-08-07 02:22] jeremiah-c-leary commented on #312
Hey @cuijialang ,
It looks like most of the rules are out of scope for VSG.  There are rules on undriven ports, incomplete sensitivity lists, etc...  VSG is focused on fixing style issues with the code.

[2020-08-07 02:33] jeremiah-c-leary commented on #450
Your formatting is definitely better than forcing everything to the left.  I must not have the latest version of the LRM.  I will see if I can get a copy.

I have re-written the parser to handle constants that cover multiple line.  I have not updated the rules yet.  Let me try your sample code.

[2020-08-07 02:45] jeremiah-c-leary commented on #450
well, the good news is the parser is assigning the correct object types to all the elements in the constant.  This seems more like an indenting issue.

I think to address @Malcolmnixon version we just indent on every open parenthesis, and the de-indent on every close parenthesis.

[2020-08-07 03:15] jeremiah-c-leary commented on #458
Hey @cuijialang ,

Check which version of PyYAML is installed.  I remember having to upgrade my version.

[2020-08-07 03:51] jeremiah-c-leary commented on #450
I was able to get @Malcolmnixon's version with the correct indent levels:
[code]
but that doesn't work with @staerz's version. However, the good news is that my re-write is making adjustments like these possible.

[2020-08-07 03:58] jeremiah-c-leary commented on #450
I have not spent much time with the expression part of the constant.  I think I need more granularity in my objects to handle it correctly.

[2020-08-07 10:34] cuijialang commented on #458
hi ,
my version of PyYAML is PyYAML-3.12-py3.6.egg

[2020-08-07 14:01] staerz commented on #450
Hi @jeremiah-c-leary,

so I think what you should make sure is that VSG can parse and recognise aggregates properly: a `(others => '0')` or `(1 => '0', 2 => '1', others => '-')`(or similar) may appear in any place (in a constant or signal definition as well as in the actual architecture as an assignment).

Now the "problem" with longer aggregates is that also they may have two different styles: Al

[2020-08-07 16:43] staerz commented on #455
I found another example where VSG (now I'm back to 1.11.1) would make a false complaint:
[code]

Here, `ite` is simply an **i**f-**t**hen-**e**lse function that takes 3 arguments: `ite(<condition>,<return on true>,<return on false>)` - and you could, of course, imagine any kind of function here.

On the syntax, it is debatable, maybe it should better be
[code]
(so one indentation less, I'd say tha

[2020-08-08 01:55] cuijialang commented on #458
but how to continue
cuijialang@localhost vhdl-style-guide-master]$ pip3 install vsg
Requirement already satisfied: vsg in /usr/local/lib/python3.6/site-packages/vsg-2.0.0-py3.6.egg
Requirement already satisfied: PyYAML in /usr/lib64/python3.6/site-packages (from vsg)

[2020-08-08 07:51] cuijialang commented on #458
i fix the question use below changes:
modify code __main__.py :line 62 and line 88
tempConfiguration = yaml.full_load(yaml_file)-->tempConfiguration = yaml.safe_load(yaml_file)

[2020-08-08 07:51] #458 closed

[2020-08-08 13:55] jeremiah-c-leary commented on #458
Hey @cuijialang ,

I checked my linux install and I am using version 5.1.

[2020-08-10 16:21] staerz opened #459 "Fix instantiation_011 parsing type conversion using a constant"
**Environment**
VSG 1.11.1 (but likely also 2.0.0)

**Describe the bug**
`instantiation_011: 50 : Change port name to lowercase.` is thrown although the port name itself is in lower case in case given below:

[code]

Note that `D_WIDTH_A` is an actual constant defined in a library (package) included earlier.

The code given is simply using the type conversion in a port map, and `to_unsigned` simpl

[2020-08-18 15:05] staerz opened #460 "Typo in message for component_008"
**Environment**
VSG 1.11.1

**Describe the bug**
Typo on message:

[code]
(double "uppercase")

[2020-08-18 16:22] qarlosalberto commented on #418
It works fine between **architecture** and the **begin**:

![image](https://user-images.githubusercontent.com/5955143/90539070-ad21ef80-e17f-11ea-9237-d7b18a6fd1da.png)

But not after:

![image](https://user-images.githubusercontent.com/5955143/90539172-caef5480-e17f-11ea-94a8-04ee091a2100.png)

[2020-09-21 17:13] staerz commented on #459
Hi @jeremiah-c-leary,

it has been a while since there hasn't been any update on the side of VSG.

I'm wondering when you'd be able to fix a few problems that I'm currently struggling with (and reported).

Please let me know about any tentative date or plans.

Thanks

[2020-09-21 21:38] umarcor commented on #446
@jeremiah-c-leary you might find ghdl/ghdl#1449 interesting. It's an exercise I did for using GHDL's Python interface to libghdl as a parser. So, given a source file, it extracts the list of ports of an entity, the type and direction. It also shows architecture names and the entity they belong to. The Python code of that exercise is the following: https://github.com/ghdl/ghdl/blob/master/testsuite

[2020-09-23 04:11] jeremiah-c-leary commented on #446
Hey @umarcor,
Thanks for the link.  I decided to implement my own parser and I am currently in the process of refactoring all my rules to use the output of the new parser.

One question, why were you trying to pull out port names etc...?

[2020-09-23 04:37] jeremiah-c-leary commented on #459
Hey @staerz,
I have been hunkered down writing a new parser for VSG that can handle these cases and not throw false alarms.  The regular expression method I was using was not robust enough to handle complex cases.  Here is my current schedule for VSG:

![image](https://user-images.githubusercontent.com/24329243/93966397-3ce02e00-fd2a-11ea-991a-3f2aef4c530c.png)

The rule transition phase is underw

[2020-09-23 04:47] jeremiah-c-leary commented on #455
Hey @staerz ,

I took your examples and put them into a file:

![image](https://user-images.githubusercontent.com/24329243/93967792-a01f8f80-fd2d-11ea-8a87-1c1f0b9b2253.png)

and then ran VSG on it:

![image](https://user-images.githubusercontent.com/24329243/93967828-b299c900-fd2d-11ea-8637-b44a71b094ce.png)

So that is some progress.  As much as a pain it was to implement the new parser, it is m

[2020-09-23 04:54] jeremiah-c-leary commented on #444
Hey @staerz ,

I copied your code to a file and ran my interim VSG on it with the new parser:

![image](https://user-images.githubusercontent.com/24329243/93968254-d3165300-fd2e-11ea-9d7a-8c7ac746dea3.png)

I still need to refactor the generate rules though.

[2020-09-23 14:42] staerz commented on #455
Hi @jeremiah-c-leary,

alright, that's very good news!

I'll be happily waiting for you to release the new version then!

[2020-09-23 14:44] staerz commented on #444
Hi @jeremiah-c-leary,

very good to see that a solution is in sight :+1:

[2020-09-23 14:49] staerz commented on #459
Hi @jeremiah-c-leary,

thanks very much for that immediate reply. That helps me plan on my side!

No, please don't waste any of your precious time for finding an interim solution, please just pursue your plan of reworking your parser (and let me know if you want me to test anything ...). I will hence go ahead and deal with VSG 2.0.0 as it is right now. Knowing that some (tremendous) improvement is

[2020-09-23 16:45] umarcor commented on #446
@jeremiah-c-leary thanks for asking. It's a proof of concept for [umarcor/hwstudio](https://github.com/umarcor/hwstudio). That's an structural diagram editor for modern (V)HDL designs, written in Godot (an open source 2D/3D game engine). Tarballs are available for Linux, Windows or Mac (see [nightly](https://github.com/umarcor/hwstudio/releases/tag/nightly)). There is also an HTML5 version (see [u

[2020-09-23 20:55] staerz opened #461 "Report proper gitlab SHA"
**Environment**
Fedora32, VSG 2.0.0

**Describe the bug**
`vsg --version` outputs the following when calling from a directory which is not a non-git repository:
[code]
When being called from a directory that **is a git repository**, a git commit SHA is indicated:

[code]
The problem though is that this "Git commit SHA" is **not** the commit SHA of the VSG installation, but the current SHA of the l

[2020-09-23 21:18] staerz commented on #458
Hi @jeremiah-c-leary,

please note that I just ran into the same issue.

Doing a `pip3 install PyYAML` (pulling in PyYAML-5.3.1) solved the problem.
Is it possible that the installation procedure for VSG is incomplete in that respect (I have no idea of how that's done anyway, so just asking a question of sth. I have no clue about ...)?

[2020-09-25 03:28] jeremiah-c-leary commented on #458
I wonder if there is a way to specify a minimum release for PyYAML in my setup file.

[2020-09-25 03:31] jeremiah-c-leary commented on #458
Looks like I can.  I added it to my master.  It will hit on my next push.  It may be awhile.  I just finished re-writting the keyword alignment.  That is probably one of the hardest rules I have.

[2020-09-29 11:35] sk-iis opened #462 "Indentation error entity_009 when port name in entity starts with "block""
**Environment**
Windows 10, Python 3.7.6, VSG 2.0.0

**Describe the bug**
When a port name in the entity declaration starts with "block", vsg indicates a rule violation
regarding indentation, i.e.

library ieee;
  use ieee.std_logic_1164.all;

entity ctrl is
  port (
    clk_i      : in    std_logic;
    block_en_i : in    std_logic;
    en_o       : out   std_logic
  );
end entity ctrl;

Running

[2020-10-02 22:26] jeremiah-c-leary commented on #462
Greetings @sk-iis,

I bet vsg is thinking the line is a part of a block statement.  I am currently working on updating the rules for my new parser which should easily address this issue.  I put a notional schedule on the main page.  I am hoping by the end of the month to have all the rules converted to the new parser.

[2020-10-05 00:11] jeremiah-c-leary commented on #312
Here is an update,

I evaluated pyVHDLParser, but found it did not provide what I really wanted from a parser.  I could have taken the output of pyVHDLParser and turned it into what I wanted, but at that point it seemed a better alternative to just write my own.  So after two false starts I finally have some semblance of a parser.

I used the 2008 LRM and based all my tokens on the *production* na

[2020-10-07 21:15] staerz opened #463 "Wrong exit code when running into configuration error"
**Environment**
Fedora 32, VSG 2.0.0

**Describe the bug**
VSG exits with exit code 0 when a faulty configuration is found, although the following is printed:
[code]

Further note that the error report is output to `stdout`, but should be output to `stderr`.

**To Reproduce**
Steps to reproduce the behavior:
1. Have some code checked by VSG set up, using VSG configuration files
2. In a VSG configu

[2020-10-07 23:35] #312 closed

[2020-10-07 23:38] jeremiah-c-leary commented on #463
Hey @staerz,

I can switch that to exit code and print to stderr.

You mentioned it should terminate with an exit code different from 1.  Did you mean exit with an exit code different than 0?

[2020-10-08 01:14] staerz commented on #463
Hi @jeremiah-c-leary,

yes, sorry, that was indeed a typo which I just fixed. Of course I meant "different from zero" as zero is exit without error.
You may chose to make it exit with 2 or so (so actually also different from one) - so a user could even distinguish "unable to run vsg due to misconfiguration/wrong parameters" from an "exit after successfully running but finding violations".

[2020-10-08 01:23] jeremiah-c-leary commented on #463
I seem to remember why this occurred.  Someone I worked with wanted to know whether there was an error in a configuration file, so I created a JUnit output to catch it.  It didn't seem right at the time, and now that you point this out it makes perfect sense to just error out.

I am working on this now.  I am getting tired of refactoring my tests to the new parser.

[2020-10-08 01:55] jeremiah-c-leary commented on #463
I fixed this issue. it will be in the 2.2.0 release.

[2020-10-08 01:57] jeremiah-c-leary commented on #461
hey @staerz ,
I think I need to rethink how I get the sha.  It is still the chicken and egg thing I can't figure out.

[2020-10-08 02:13] jeremiah-c-leary commented on #460
This fix will be in the 2.2.0 release.

[2020-10-08 14:14] staerz commented on #463
Hi @jeremiah-c-leary,

thanks for acting on this one so quickly.

I see you went for the exit 1 only option. That's fine although I would have wished for an exit code 2 if anything with the configuration goes wrong. That would have given an additional handle. But alright, your solution at least solves my problem :+1:

[2020-10-08 14:21] staerz commented on #461
Hi @jeremiah-c-leary,

the chicken egg thing is solved: evolution tells us that egg was first.

But for your problem, here what I would do (under the assumption that my understanding of an installation process is right - which I'm absolutely not sure it is):
- have script (as easy as `git reflog HEAD -n1 --pretty=%h`) [or you do sth. that retrieves the sha from your remote repo) in the suite of yo

[2020-10-08 20:23] jeremiah-c-leary commented on #463
I will change it to 2 before the 2.2.0 release.

[2020-10-08 22:29] #441 closed

[2020-10-08 22:35] #463 closed

[2020-10-08 22:35] #460 closed

[2020-10-08 22:35] #462 closed

[2020-10-09 13:47] Emilv2 commented on #441
@jeremiah-c-leary Seems indeed to be fixed in the latest release, thanks! Good luck with your parser rewrite.

[2020-10-10 16:44] jeremiah-c-leary opened #464 "Split port map aspect rules from instantiation rules"
The instantiation rules contain port map aspect rules which would be better suited to be their own rules.  port map aspects can be include in more than just instantiations.

[2020-10-10 16:45] jeremiah-c-leary opened #465 "Split generic_map_aspect rules from instantiation rules"
The instantiation rules contain generic map aspect rules which would be better suited to be their own rules.  generic map aspects can be include in more than just instantiations.

[2020-10-11 20:34] jeremiah-c-leary opened #466 "Combine rules port_005 and port_006"
With the new parser, there is no need to have separate rules.

[2020-10-13 00:04] jeremiah-c-leary opened #467 "Find some way to combine token_case_in_token_between_tokens and port_10"
These are very close to each other.  There must be a way to combine them into a single rule.

[2020-10-13 18:55] staerz opened #468 "Unexpected crash of VSG 2.0.0 when checking rules"
**Environment**
Ubuntu 18.04, VSG 2.0.0

**Describe the bug**
VSG fails with some python exception when running over a particular file.

**To Reproduce**
Steps to reproduce the behavior:
1. Run VSG on "slice.vhd" (see attachment below)
4. See error (see below)

**Expected behavior**
no failure

**Log output**
[code]

**Additional context**
[slice.txt](https://github.com/jeremiah-c-leary/vhdl-style

[2020-10-13 23:17] jeremiah-c-leary commented on #468
Hey @staerz ,
I ran this on version 2.2.0 and it did not crash.  I tried with the --fix and without.

Could you provide the config file?

[2020-10-13 23:30] jeremiah-c-leary opened #469 "Improve testing on instantiation_025 and 026"
[code]
issued an instantiation_026 instead of instantiation_018

[code]
issued an instantiation_025 and there is no equivalent instantiation_018.

[2020-10-13 23:40] staerz commented on #468
Sure,
and really, it wasn't meant you to act on it right now. I really just wanted to keep track of the issue that we found in our setup, well knowing that it might not be an issue anymore with your reworked VSG.

We run VSG with the following parameters: `-c .vsg/rules/config.json .vsg/rules/disabled.json .vsg/rules/alignment.json .vsg/rules/casing.json .vsg_local/configuration.json -lr .vsg/rule

[2020-10-15 02:52] jeremiah-c-leary opened #470 "Consider pulling subprogram_body rules out of procedure and function rules and into their own rule set"
There are several rules that apply to subprogram_body which are common to both procedure and function.  Consider splitting those out.

[2020-10-15 16:48] Brandon-Valley opened #471 "output_configuration not working"
**vsg -oc configuration.json not working**

When I run `vsg -oc configuration.json` I get the following error:

[code]

I am trying to follow the example from:  https://vhdl-style-guide.readthedocs.io/en/latest/configuring.html#

Does anyone know what I am doing wrong?  Thanks in advance!

[2020-10-15 21:05] jeremiah-c-leary commented on #471
Greetings @Brandon-Valley ,

For the version you are running with, you need to also include the `-f` option.

I removed this limitation in version 2.0.0.

Regards,

--Jeremy

[2020-10-15 21:36] staerz commented on #471
Hi @jeremiah-c-leary,

I'm having a related problem with VSG 2.0.0.

Not that VSG would exit like @Brandon-Valley reports, but when I then look a the produced configuration file it doesn't represent the particular configuration that I put in: As I gave in #468, we use a set of configuration files (simply to have different kinds of rules gathered together instead of having one big config file).

An

[2020-10-15 21:44] staerz commented on #471
And maybe to add that a colleague has a problem that doesn't appear on the machine that I'm using:

Using VSG 2.0.0 here.

With python 3(.5)
[code]

Similar with python 2(.7)
[code]

That happens when trying to read a configuration with particular rules for some files.

So now I'm wondering if I fully misunderstood how the configuration files work...

[2020-10-15 22:18] staerz opened #472 "How to force VSG to use a particular python version"
**What is your question?**
How to force VSG to use a particular python version?

Reason of the question: Apparently there is different behaviour for VSG depending the underlying python installation.
VSG itself doesn't seem to require a particular python version (which I think it should) but since python3 is not backwards compatible to python2, it would be of uttermost importance to get the depende

[2020-10-15 22:19] jeremiah-c-leary commented on #471
Hey @staerz,

hmm...looking at the code I should use sExpandedFilename instead of sFilename.

This should be an easy change.

[2020-10-15 22:29] jeremiah-c-leary commented on #471
I have a fix already.  It now reports the file being called out that could not be found.

[2020-10-15 22:35] staerz commented on #471
OK, great, here is another similar one by another colleague:

[code]

[2020-10-16 15:50] Brandon-Valley commented on #471
This solved my issue,
- I had a version 1 variant installed from `pip install vsg`
  - On that version, running `vsg -oc configuration.json -f configuration.json` created **configuration.json**
- I have now upgraded to version 2.2.0
  - Now `vsg -oc configuration.json` works

Thank you so much for your quick response.  This is a fantastic tool with fantastic documentation!

[2020-10-16 15:50] #471 closed

[2020-10-17 00:48] jeremiah-c-leary opened #473 "process_031 and process_037 appear to be duplicates"
Investigate and remove one is necessary.

[2020-10-18 22:00] qarlosalberto commented on #418
Hi @jeremiah-c-leary do you plan to add the ```--all_phases --js`` argumentos to a release?

[2020-10-27 01:00] jeremiah-c-leary commented on #418
Hey @qarlosalberto ,

The answer is yes.  I am working on re-writing the rules for my new parser.  Only 30 more to go!!!  Unfortunately the new method broke the code tags, so I need to rethink how to implement it.  It shouldn't be hard though.

So once I finish re-writing the rules and hardening the new parser, hopefully by mid November I will incorporate the changes we discussed into the master b

[2020-10-27 18:14] staerz opened #474 "function_010 documentation"
**Environment**
VSG 2.0.0, Fedora 32

**Describe the bug**
In the documentation of function_010 the second "Violation" should actually be "Fix" I presume.

**To Reproduce**

1. Go see [the documentation](https://vhdl-style-guide.readthedocs.io/en/latest/function_rules.html#function-010)

**Additional context**
I'm actually wondering if this rule would make any assumption on the casing of function

[2020-10-27 22:00] staerz opened #475 "constant_007 false alert for dereferred constant definition"
**Environment**
VSG 2.0.0, Fedora 32

**Describe the bug**
constant_007 complains when assignment is not in same line as constant declaration.

This behaviour doesn't consider that the constant declaration can be spread over the package definition and package body where the actual value is given (that may depend other functions that are only defined in that package body.

**To Reproduce**
Steps to

[2020-11-06 20:43] staerz opened #476 "with ... select crashes VSG"
**Environment**
Fedora 32, python3, VSG 2.0.0

**Describe the bug**
A vhdl statement `with ... select` crashes VSG badly.

**To Reproduce**
Steps to reproduce the behavior:
1. Run VSG on the example code (see below)
2. See error

**Expected behavior**
No crashing of VSG

**Example Code**
[code]

**Logs**
Running on that code results in
[code]

[2020-11-07 07:46] qarlosalberto commented on #418
Thank you! :)

[2020-11-22 22:16] jeremiah-c-leary commented on #473
It was a duplicate.  The rule process_037 has been removed.

[2020-11-22 22:16] #473 closed

[2020-11-23 01:42] jeremiah-c-leary commented on #466
This has been completed already.

[2020-11-23 01:42] #466 closed

[2020-11-23 01:55] jeremiah-c-leary commented on #469
Issue was resolved.

[2020-11-23 01:55] #469 closed

[2020-11-23 03:45] jeremiah-c-leary commented on #465
Implemented.

[2020-11-23 03:45] #465 closed

[2020-11-23 03:45] jeremiah-c-leary commented on #464
Implemented.

[2020-11-23 03:45] #464 closed

[2020-11-23 13:49] jeremiah-c-leary commented on #467
After investigating, this does not appear to be a valid issue.  I can not find the token_case_in_token_between_tokens rule.  I must have addressed this issue during the refactor and did not update the issue.

[2020-11-23 13:49] #467 closed

[2020-11-23 14:44] staerz commented on #459
Hi @jeremiah-c-leary,

how are things, does the migration go according to plan?

I'm just asking to get a feeling such that I can adopt accordingly for our project. This is not to rush you in any way.

Thanks

[2020-11-23 15:20] james-tait opened #477 "Generate label becomes process label"
**Environment**
VSG 2.2.0

**Describe the bug**
When VSG attempts to fix a missing end generate label, the label is mistakenly copied to a nested anonymous process.

**To Reproduce**
Steps to reproduce the behaviour:

Command: `vsg --fix -f file.vhd`
Example code:  [vsg_bug_setup.txt](https://github.com/jeremiah-c-leary/vhdl-style-guide/files/5583909/vsg_bug_setup.txt)

**Expected behaviour**
The

[2020-11-23 16:27] jeremiah-c-leary opened #478 "VSG crashes when trying to open a with with ISO 8859-1 encoding"
As the title says.

[2020-11-23 16:28] jeremiah-c-leary commented on #478
Issuer resolved.

[2020-11-23 16:28] #478 closed

[2020-11-23 17:22] jeremiah-c-leary commented on #459
Hey @staerz,

I completed all the rule conversions and a phase of hardening such that all of my tests are now passing.  The tests include some code examples.  I am currently pulling example code from open cores and running against it.

I have found a couple of minor issues:

* ISO 8859-1 encoding support
* a rule with a missing solution

I am trying to find very complex code to run against to ensu

[2020-11-23 17:56] jeremiah-c-leary opened #479 "Conflict between if_006 and case_007"
If_006 wants to remove all blank lines below it, while case_007 wants at least one above it.  If a case is nested in an if statement:
[code]
if_006 should allow a single blank line to allow case_007 to not throw an error:
[code]

[2020-11-23 18:23] staerz commented on #459
Hi @jeremiah-c-leary,

thanks for the update. That sounds very good.

And yes, I can certainly run VSG in the current master over our code base, there are several 10k of lines to check :wink:
And I'll see (and report back) if some of the recent issues (with VSG 2.0.0) that I reported would be fixed by the new version or not.

[2020-11-24 01:18] jeremiah-c-leary opened #480 "rule if_009 misreporting when else code is on the next line"
This code:
[code]
Not sure how to handle this.  Probably need to move the code to the elsif line.

[2020-11-24 01:24] jeremiah-c-leary opened #481 "Rule comment_010 fires with comments in concurrent signal statements."
The following code:
[code]
fires the rule **comment_010**.

[2020-11-24 01:29] jeremiah-c-leary opened #482 "concurrent alignment not quite correct"
The following is the result of aligning:
[code]
lines 596, 597 and 597 seem to be off one column.
[code]
line 694  should be lined up with the open parenthesis on line 691.

[2020-11-24 01:43] jeremiah-c-leary opened #483 "constant_011 firing for std_logic_vectors"
The following code:
[code]
Results in the following:
[code]

[2020-11-24 17:14] jeremiah-c-leary commented on #479
Issue was resolved.  See commit message for more details.

[2020-11-24 17:14] #479 closed

[2020-11-24 18:31] jeremiah-c-leary commented on #480
Updated the test for if_009 and it appears to be flagging correctly.

I did add the rule if_035 to move the code to the same line at the elsif and if keywords.

[2020-11-24 18:31] #480 closed

[2020-11-24 18:46] jeremiah-c-leary commented on #483
Issue resolved.

[2020-11-24 18:46] #483 closed

[2020-11-24 21:56] jeremiah-c-leary commented on #482
I believe I will need to have a special rule just for conditional_signal_assignments.

[2020-11-25 09:46] james-tait opened #484 "End of package declaration is spliced into the package body"
**Environment**
VSG 2.2.0

**Describe the bug**
When VSG tries to fix simultaneous package_007 and package_014 violations, it splices the `end package` inside the package body.

**To Reproduce**
Steps to reproduce the behaviour:

Command: `vsg --fix -f file.vhd`
Example code:

[code]

**Expected behaviour**

* The `end;` on line 6 becomes `end package pkg;` (pacakge_007, package_014)
* All the ind

[2020-11-25 14:53] jeremiah-c-leary commented on #484
Hey @james-tait ,

I was able to reproduce the issue with version 2.2.0.  It looks like VSG is getting confused with which **end** is associated with the package declaration.

I am currently working towards a 3.0.0 release in January.  I ran the example code on master, which will become the 3.0.0 release, and it produced:

[code]

I re-wrote the parser and underlying methodology for version 3.0.0

[2020-11-25 21:30] jeremiah-c-leary commented on #481
This was addressed with commit  e5617601.
Essentially, comments within the concurrent statements will not be assigned an indent value.

[2020-11-25 21:30] #481 closed

[2020-11-27 01:24] jeremiah-c-leary commented on #482
Issue has been resolved.  See commit comments for details.

[2020-11-27 01:24] #482 closed

[2020-11-27 03:00] jeremiah-c-leary opened #485 "Signal_015 appears to be adding in extra spaces"
The following code:
[code]
Is converted into:
[code]
...plus it appears to drop the colon (:).

[2020-11-27 13:33] jeremiah-c-leary commented on #485
Issue resolved.

[2020-11-27 13:33] #485 closed

[2020-12-03 17:42] james-tait commented on #484
Firstly thank you for getting back to me so quickly. Secondly, I'm sorry for how long it has taken for me to be able to test it.

I have now tested the file with the master version (commit ccc38036131f89fe3d0f60d10edf7d80ddf9005), and it works as expected. Thanks for your help!

[2020-12-03 17:42] #484 closed

[2020-12-03 17:57] james-tait commented on #477
I've corrected the syntax example code, which should read:

[code]

Similarly to issue #484, this issue is resolved, with behaviour as expected by commit ccc38036131f89fe3d0f60d10edf7d80ddf9005a on master.

[2020-12-03 17:57] #477 closed

[2020-12-03 18:06] james-tait opened #486 "Version report is out of date"
**Environment**
VSG, pulled from master at commit ccc38036131f89fe3d0f60d10edf7d80ddf9005a

**Describe the bug**
When VSG reports it's version, it reports an old version number/commit

**To Reproduce**
Steps to reproduce the behavior:
1. `vsg --version`

**Expected behavior**
A more recent version number.

**Screenshots**
[code]

**Additional context**
I realise this isn't a release so what's expe

[2020-12-04 19:29] jeremiah-c-leary commented on #486
@james-tait ,
For some reason I have had trouble handling the version correctly.  I need to rethink the strategy because there are other issues people have ran into.

[2020-12-04 19:34] jeremiah-c-leary commented on #476
Hey @staerz ,
I ran your example on master and it didn't crash.  Looks like my parser rewrite is working:
[code]
I am going to move this issue to the 3.0.0 release.

Let me know if you want to close it or if I should.

--Jeremy

[2020-12-04 19:38] jeremiah-c-leary commented on #475
hmmm, this still seems to be an issue on master.  I am investigating.

[2020-12-04 20:18] staerz commented on #476
Hi @jeremiah-c-leary,

thanks for looking into this.

Yes, I was hoping that your rewrite catches it, but I had no time at all so far to test your new dev version, sorry.

I would try to reserve some time next week to run the validation on my side on our code base if that's fine for you - and we can close then.

[2020-12-04 20:50] jeremiah-c-leary commented on #475
@staerz ,
I figured out the issue.  The rule was being too greedy and was assuming the assignment operator := in the second constant declaration belonged to the first constant declaration.

The issue has been resolved.  Just waiting for confirmation.

It feels nice to get back to working these issues after spending so much time updating the parser.

--Jeremy

[2020-12-04 23:07] jeremiah-c-leary commented on #474
@staerz ,

You are correct.

It looks like I was missing that rule.  I added function_017, which defaults to lower case.

At the moment enforcing styles other than upper and lower are out of my scope.

Could you grab the latest master and let me know if function_017 will work for you.

--Jeremy

[2020-12-04 23:17] jeremiah-c-leary commented on #468
Hey @staerz ,
I would like to revisit this issue since my re-write it essentially done.

I ran the example file using master and it did not have an issue.

Would it be possible to run with master in your environment and see if it still crashes.

Tnanks,

--Jeremy

[2020-12-04 23:32] jeremiah-c-leary commented on #459
Hey @staerz ,

I was able to improve the performance significantly, although it is a little slower than version 2.   The parser is more robust than the regular expressions I was using.

So I copied the example code above, wrapped it in an architecture and ran it against master.  Good news, master did not throw the instantiation_011 error:

[code]

I believe the comma in the function call was confu

[2020-12-04 23:42] jeremiah-c-leary commented on #455
Hey @staerz ,

I ran the code again through the latest on master and it did not fail.  However, I did have to disable rule signal_016, otherwise it takes the multi line signal assignments and stick them all on the same line.

Could you run against master I and let me know if the issue is resolved?

Thanks,

--Jeremy

[2020-12-05 00:13] jeremiah-c-leary commented on #450
Hey @staerz and @Malcolmnixon ,

I made an example file that combined both code snippets:
[code]

I ran it against what is current on master and it did not throw `constant_017`

[code]

However, the formatting is slightly different:

[code]
I have code that aligns based on parenthesis, but you can see how it is not based on indent though.

I wonder if this type of formatting is too difficult.  I w

[2020-12-05 00:27] jeremiah-c-leary commented on #448
Hey @staerz,

Somewhere along the way, we changed the alignment base rule to be more configurable and had to make some of the options default.  For example, on master if you check the possible configuration options for `entity_017`, using `vsg -rc entity_017`, you will see:
[code]
I believe we changed the `compact_alignment` to true.  This would have forced everything to the left by one column.  T

[2020-12-05 00:37] jeremiah-c-leary commented on #447
@staerz ,

I created an example file using your code snippet above and ran it against master.  Master did not throw `concurrent_006`.

Could you try the code against master and let me know if you still see an issue?

Thanks,

--Jeremy

[2020-12-05 00:44] jeremiah-c-leary commented on #446
@Emilv2 ,
I am finally ready to start fixing issues again after my parser update.  I think it would be feasible to do a consistent case for generics.  If the entity and architecture are in the same file, then it would be checked.  If not, then it will not.  This rule would also check generics within the entity also.

I will make this part of the 3.0.0 release.

[2020-12-05 15:35] jeremiah-c-leary commented on #444
@staerz ,

I believe the new parser can handle this properly now.  Could you validate it by pulling down master?

Thanks,

--Jeremy

[2020-12-05 15:45] jeremiah-c-leary commented on #440
Hey @Emilv2 ,

It has been a long time.

I have finished by re-write of my parser and wanted to circle back to this issue.  I copied your code snippet and ran it against what I have in master.  It did not throw the `whitespace_011` errors.  It also looks like the `DI(3 downto 1) => "` issue is also resolved.

Could you validate master resolves this issue for you.

If not, I will plan on closing th

[2020-12-05 16:02] jeremiah-c-leary commented on #431
Hey @joshrsmith ,

I apologize for taking so long to address this.  I rewrote my parser to be more robust so it would not get confused when I was using regular expressions.

I copied your code snippet and ran it against what I have in master.  The good news is the new parser can handle the above code without throwing the error you mentioned.  I am assuming it is `instantiation_024`.

Could you try

[2020-12-05 16:30] jeremiah-c-leary commented on #429
Hey @staerz ,

So with my new parser, if the generate label is not there then it will fail.

[code]

I wanted to revisit this statement I made earlier:

I am not sure I still want to do this.  At the moment my parser is pure, in that it follows the LRM.  Should I put an exception in because Quartus and Questa allow it?

What are your thoughts?

Regards,

--Jeremy

[2020-12-05 17:07] jeremiah-c-leary commented on #486
Hey @james-tait ,

I have  a fix in for this issue if you care to check it out.

Otherwise I will close this issue when I release 3.0.0

[2020-12-05 17:24] jeremiah-c-leary commented on #472
I found this in the packaging documentation:

![image](https://user-images.githubusercontent.com/24329243/101258979-b5c91200-36eb-11eb-837e-8cecdfb87808.png)

A little history...

VSG version 1.* was developed using python version 2.7
VSG version 2.* was intended to transition to 3.* because version 2.7 was not going to be supported anymore
The hope is that is would be backwards compatible with 2.

[2020-12-05 17:32] jeremiah-c-leary commented on #454
what about something like this:

[code]

And the `ERROR` lines would be sent to stderr.

[2020-12-05 17:38] jeremiah-c-leary commented on #449
Hey @staerz ,

When I was refactoring all the rules for the new parser, I update the rules that check for blank lines to allow for comments.  This is configurable, and you can check the configuration using `vsg -rc architecture_003`:

[code]

You just have to set `allow_comments` to `True`.

Could you check on master to see if this is working for you.

Otherwise,  I will plan to close this when I

[2020-12-06 00:00] jeremiah-c-leary commented on #451
Hey @staerz ,

I updated the documentation for the prefix and suffix configuration.

Could you let me know if it is sufficient?

Thanks,

--Jeremy

[2020-12-06 15:37] jeremiah-c-leary commented on #401
Hey @qarlosalberto ,

Just wanted to give you an update.  I am finally is a position to start transitioning this to the master branch for the next release.

Regards,

--Jeremy

[2020-12-06 15:40] jeremiah-c-leary commented on #401
lol....this branch is really out of date:

![image](https://user-images.githubusercontent.com/24329243/101284695-f5086900-37a6-11eb-9884-ebbf3a8e9de4.png)

[2020-12-06 17:41] jeremiah-c-leary commented on #401
I merged the all phases and json command line arguments over.

I will start working on the single line exclusions and issue #419

--Jeremy

[2020-12-07 20:21] jeremiah-c-leary commented on #418
@qarlosalberto ,
I just migrated this feature into master.

Could you pull down the latest master and let me know if it is working for you.

Thanks,

--Jeremy

[2020-12-07 22:08] jeremiah-c-leary commented on #419
Hey @qarlosalberto ,

I just committed this feature to master.

Could you give a try to see what you think?

There is a caveat to using this feature which I documented.

Thanks,

--Jeremy

[2020-12-08 15:20] jeremiah-c-leary commented on #259
Hey @m-kru ,

The fix would be this:
[code]

The new parser makes rules like this easier to write.

--Jeremy

[2020-12-08 15:20] #259 closed

[2020-12-08 16:28] jeremiah-c-leary commented on #408
Hey @nfrancque ,

I just implemented this and made the default 2000 lines.  That should catch excessively long files.  It is defaulted to be being a warning.

This will be in the 3.0.0 release.

Hope things are going well for you.

--Jeremy

[2020-12-08 16:28] #408 closed

[2020-12-08 19:29] jeremiah-c-leary commented on #409
Hey @nfrancque ,

I implemented this with a default of 500 lines.

--Jeremy

[2020-12-08 19:29] #409 closed

[2020-12-08 19:31] jeremiah-c-leary commented on #410
So...what should the default be?  component or direct?

[2020-12-08 21:01] jeremiah-c-leary commented on #410
Rule is implemented.  Should it's severity be an error, warning or a guideline?

[2020-12-09 16:27] qarlosalberto commented on #401
Thank you!! @jeremiah-c-leary

[2020-12-09 20:51] staerz commented on #486
Hi @jeremiah-c-leary,

I'm finally coming to test your new VSG version.

And yes, you remember we had this discussion.

What I get now is the following:
[code]

Version "master" is not really meaningful as that's a branch is not a static reference :wink:

As I already said, I don't know what the usual procedure is when you ship it via pip, but for the local install, what I would suggest is:
- upon

[2020-12-09 22:32] staerz commented on #476
Alright,
I first had to update a few rules since you introduced generic map and port map (good move!) and then let it run over part of my code base.

I found a case where VSG still crashes with a not so helping error message and could reduce it to the following snippet:

[code]

It seems the parser doesn't like to find a `with` after the end of a block.

Unfortunately, the error log is simply this

[2020-12-09 22:36] staerz commented on #476
And on a related rule that you have introduced: with_001:

How do you dare to tag this as an error?
This is totally valid VHDL code ...

Is there any motivation behind this (which would mean I've been doing it wrong for years...)!?

[2020-12-09 22:53] staerz commented on #475
I confirm that with VSG 2.0.0-457-g30bfcad7 this doesn't get reported anymore.

[2020-12-09 22:53] #475 closed

[2020-12-09 22:54] jeremiah-c-leary commented on #378
Well @m-kru ,

It has been awhile, but I have just added rules for package bodies.

I am going to leave this open for now, but will close it when I release 3.0.0 if I do not hear back from you.

Take care,

--Jeremy

[2020-12-09 23:05] jeremiah-c-leary commented on #486
I think that solves all the issues I was having with the SHA.

I don't know if PIP issues a `setup.py install` when it downloads the package.  That could be an issue since it would not have access to the Git repo to build the file.  If it is an issue, maybe I can have it check to see if the file exists and then act accordingly.  If it already exists when installing, then do not update the file.  I

[2020-12-09 23:06] staerz opened #487 "New bugs related to candidate for 3.0.0"
**Environment**
Latest version 2.0.0-457-g30bfcad7.

**Describe the bug**
This is a collection of bugs and issues found with the new version for new features.

**Expected behavior**
A clear and concise description of what you expected to happen.

### :heavy_check_mark: Broken link to Configuring Type of Instantiations
The doc for `instantiation_034` points to 'Configuring Type of Instantiations' b

[2020-12-09 23:14] staerz commented on #474
Alright, I see you fixed the typo.

Yes, function_017 also works as expected, thanks for adding it!

And agreed, it's enough to support (all) upper or (all) lower case as a first feature.

If you're getting bored, then you could allow other casing conventions in a later version :wink: but that's something I wouldn't need.

[2020-12-09 23:14] #474 closed

[2020-12-09 23:26] staerz commented on #468
I confirm it doesn't happen with the latest master (2.0.0-457-g30bfcad7) anymore.

[2020-12-09 23:26] #468 closed

[2020-12-09 23:29] jeremiah-c-leary commented on #476
When I comment out the block it processes the rest.  The error:

[code]
is saying the parser did not like something at line 146 at column three while trying to classify a `concurrent_selected_signal_assignment`.

In my test with your snippet of code it chokes on the `end`.  Although there is no concurrent assignment at that point.  My classifier must be looking too far ahead and thinking the with

[2020-12-09 23:39] staerz commented on #459
I can confirm that it doesn't happen anymore with latest master (2.0.0-457-g30bfcad7).

[2020-12-09 23:39] #459 closed

[2020-12-09 23:49] staerz commented on #476
Alright.

So I'm glad to have found an exception :smiling_imp:

And for the rule `with_001`, I think it's a really good idea to have it, but I'd simply disable it by default, that's all.

[2020-12-10 00:07] staerz commented on #448
Alright, thanks for the explanation. With the settings as you tell, it works as expected, and also now the text for a violation is much more explanatory. Thanks!

[2020-12-10 00:07] #448 closed

[2020-12-10 00:13] staerz commented on #447
Confirmed, it doesn't happen with the latest master anymore (2.0.0-457-g30bfcad7). Thanks!

[2020-12-10 00:13] #447 closed

[2020-12-10 00:26] staerz commented on #444
I re-enabled concurrent_001 and am sorry to tell you that still some indentation rules are doing some fake reporting.

I do though see an improvement and these fake reports don't seem to be related to the VHDL-2008 `if|case generate`, but to `block` statements. You seem not to like `blocks` :wink:

I have the following scenario where I still get the fake error:

[code]

Any statement inside the bl

[2020-12-10 01:23] jeremiah-c-leary commented on #476
Hey @staerz ,

I just pushed a fix for the error.

Essentially, while in the `block_statement_part` I was searching for concurrent statements.  Part of the check is looking for a `concurrent_selected_signal_assignment` by search for the keyword `with` within a certain number of tokens.  It turned out the structure you had the `with` was within that search range.  So it was failing on the block end

[2020-12-10 01:38] jeremiah-c-leary commented on #444
It doesn't look like I have any indenting for blocks yet.  Let me work on issue #457 and that should clean up these concurrent errors.

[2020-12-10 03:02] jeremiah-c-leary commented on #487
@staerz ,
I believe I fixed the link.

[2020-12-10 03:09] jeremiah-c-leary commented on #457
My initial set of rules have been documented.  I will work on implementing them tomorrow.

[2020-12-10 19:50] jeremiah-c-leary commented on #444
Hey @staerz ,

I just committed the block rules.  Could you validate the latest master fixes this issue.

Thanks,

--Jeremy

[2020-12-10 19:51] jeremiah-c-leary commented on #457
Hey @staerz ,

I just added 29 block rules.  Could you look them over and test them out.

Thanks,

--Jeremy

[2020-12-10 20:00] jeremiah-c-leary commented on #443
Hey @staerz ,

I did some digging and the rule `process_033` should cover the alignment of colons in the process declarative region.

Also, the new block rule `block_401` should cover the alignment of colon in the block declarative region.

Could you double check the current master addresses this issue?

Thanks,

--Jeremy

[2020-12-11 16:11] staerz opened #488 "Add the phase of each rule to documentation"
**Is your feature request related to a problem? Please describe.**
This is a "nice to have" documentation feature request.

**Describe the solution you'd like**
VSG checks rules in currently 7 phases. The documentation is very complete (and much better than some other tools I've seen).
Adding to each rule in the documentation in which phases they are checked would be another very nice improvement.

[2020-12-11 18:02] jeremiah-c-leary commented on #488
Hey @staerz ,

Do you think the documentation for the block rules would be sufficient?  I decided to break them into groups that match the phases.

The current rule structure is a jumbled mess.
I really want to re-organize the existing rules in the same manner, but that could cause users a major headache.

--Jeremy

[2020-12-11 18:29] staerz commented on #488
Hi @jeremiah-c-leary,

I'm very sorry that I couldn't advance on testing all your feedback on the issues that I reported so far. I will continue this effort next week. I have not yet looked into the documentation of the block rules. Breaking them into groups matching the phases sounds good to me.

Now if you want to restructure the rules and stages, that's up to you (you're the developer), I was s

[2020-12-12 16:52] jeremiah-c-leary commented on #456
Hey @staerz ,

I have implemented this feature.

I will close this ticket when I release 3.0.0 if you do not have enough time to validate it.

Thanks,

--Jeremy

[2020-12-14 08:58] james-tait opened #489 "Documentation bugs"
**Environment**
Hosted documentation at time of posting.

**Describe the bug**
A selection of documentation bugs and odd word choices spotted while reading the hosted docs, with suggested fixes.

- [x] [port_map_006](https://vhdl-style-guide.readthedocs.io/en/latest/port_map_rules.html?highlight=port%20map#port-map-006) doesn't exist but has a title and a link in the documentation
- [x] [signal_01

[2020-12-14 15:21] jeremiah-c-leary commented on #489
Hey @james-tait ,

Thanks for finding those documentation issues.

--Jeremy

[2020-12-14 15:26] james-tait commented on #489
No problem, happy to help. I've checked them and they look fine.

[2020-12-14 15:26] #489 closed

[2020-12-15 12:34] james-tait opened #490 "Add rules for function/procedure calls"
**Is your feature request related to a problem? Please describe.**
Currently, no rules exist for the indents, case, etc. of function/procedure calls. For example:

[code]

**Describe the solution you'd like**
Implementation of rules for indentation similar to those for sequential and concurrent statements. Likewise case rules similar to function_017 but in the call rather than the declaration.

So

[2020-12-15 17:00] jeremiah-c-leary commented on #490
Hey @james-tait ,

I just pushed some rules to address procedure calls.

Let me know if the latest master fixes the issue for you.

Thanks,

--Jeremy

[2020-12-15 17:02] james-tait commented on #490
Terrific, I'm afraid it won't be right away but I will try to do that.

[2020-12-15 20:13] Emilv2 commented on #440
Seems to be fixed in master, thanks!

[2020-12-15 20:13] #440 closed

[2020-12-16 23:52] staerz commented on #429
Hi @jeremiah-c-leary,

sorry for the delayed reply, I have passed another very busy week with a firmware release just yesterday...

Then I'd say to go with the LRM!

What would though help is if you could improve the error message. It now really depends what can cause this error, but maybe one could make it a suggestive error message like "Expecting end or label, found if" - that would require tha

[2020-12-16 23:58] staerz commented on #472
Absolutely, force a minimum python version - and make that python3!

Now, if you want to force a subversion of python3 is a good question.
Personally, I'm running Python 3.8.6, but on another machine it's 3.5.3 while on yet another one it's 3.6.9 (that's our CI machine for running VSG 2.0.0).

So from that I'd say it's safe to require python 3.5 or higher (but not yet 4 maybe...)

[2020-12-17 00:02] staerz commented on #454
Yes, that proposed output seems very appropriate and is very nice to parse on with sed or other command line tools.

(Note that I think you have an unintended typo in your last line and meant not to capitalise "ERROR", but write "Error" instead.)

Once you come up with a short report, please make sure to document it and never change it, unless specified in release notes.
Again, I'm very happy that

[2020-12-17 00:23] jeremiah-c-leary commented on #429
Hey @staerz ,

I hope everything went well.

I will look into improving the error message.  A couple of times I had a hard time figuring out what it was telling me.  In the past, I complained about error messages being vague....now I know why.

[2020-12-17 00:25] jeremiah-c-leary commented on #472
I will set it to 3.5 or higher.

[2020-12-17 00:39] staerz commented on #449
Hi @jeremiah-c-leary,

works like a charm! Tested with VSG in f1ba134c.

Thanks a lot!

[2020-12-17 00:41] staerz commented on #429
It went well. Our project is still in a very early stage, so not much can go wrong, except that things are not delivered in time, but that's the usual business.

Yes, precise error messages are key. You don't want to know ...

[2020-12-17 00:43] jeremiah-c-leary commented on #454
Looks like you are correct.  The output should be:

[code]

So the thinking was my thinking:
*  `Error` was something that must be fixed
*  `Warning` was something that should be fixed
* `Guideline` was something that would be nice to fix

Rules like `with_001` could be a `guideline`, at least in my group, to say..."It's not wrong, but in this group we like to use this other language construct."

[2020-12-17 00:44] jeremiah-c-leary commented on #449
awesome,  I will close this issue.

[2020-12-17 00:44] #449 closed

[2020-12-17 00:48] staerz commented on #454
Hi @jeremiah-c-leary,

That is exactly my point: if your group doesn't like this construct, then you simply request to not have this, enable the rule, and it's a warning. If it's a warning, the return code should still stay 0, (and I think the output should go to stdout), but at least you can then check for warnings - if you want.

In my group, this wouldn't be an issue at all, so I'll simply disa

[2020-12-17 01:01] jeremiah-c-leary commented on #454
That makes sense.  I will remove the `Guideline` level.

[2020-12-17 01:01] staerz commented on #476
Alright, with VSG in f1ba134c that problem is gone.

I checked in all files where I had disabled (`--vsg_off`) due to the used `with` statement in one of our components. That was 12 files...

I think you can close this one.

[2020-12-17 01:14] staerz commented on #444
Hi @jeremiah-c-leary,

I reenabled these offending rules and could not find a problem (at least not on a solid subtree of our project).

Feel free to close that issue then.

[2020-12-17 01:30] staerz commented on #457
Hi @jeremiah-c-leary,

is it possible that the block rules are behind a feature flag or so?

I'm running on f1ba134c and with a `vsg <myconfig> -oc config.vsg` I find no rule called `block_*` - is that expected?

Also I added an obvious violation of `block_001` and VSG didn't complain. Similarly, when trying to configure `block_002`, I get a complaint by VSG that the rule wouldn't exist.

In which

[2020-12-17 01:50] staerz commented on #451
Yes, absolutely, very good! Thanks for this improvement!

[2020-12-17 01:50] #451 closed

[2020-12-17 01:59] staerz commented on #450
OK, so one could argue that the opening parenthesis should not be on the line where the constant is defined, but the line after.

I really dislike the idea of having the code that is a subelement of the parenthesis to be indented to the place where the parenthesis starts. I know some people are OK with it but I'm strictly not.

So I would opt for modifying my code from
[code]

to

[code]

In the s

[2020-12-17 02:12] staerz commented on #443
I confirm that `process_033` is complaining (and sorry, the example is actually wrong, one may not define signals there, but only variables).

For some reason though, it seems VSG doesn't check for block rules - do I have to enable them first?

[2020-12-17 02:23] jeremiah-c-leary commented on #454
Hey @staerz ,

I just pushed an initial implementation for this issue.  When you get a chance could you check it out.

Thanks,

--Jeremy

[2020-12-17 02:24] jeremiah-c-leary commented on #476
Awesome.  I will close it.

[2020-12-17 02:24] #476 closed

[2020-12-17 02:28] jeremiah-c-leary commented on #457
hmm...I forgot to add it to the list of rules to use.   I just pushed an update that should include it.

[2020-12-17 02:28] jeremiah-c-leary commented on #444
Woot!!  Closing the issue.

[2020-12-17 02:28] #444 closed

[2020-12-17 02:30] jeremiah-c-leary commented on #443
I forgot to enable them.  I had already pushed a fix as part of issue #457

[2020-12-17 02:40] staerz commented on #488
Hi @jeremiah-c-leary,

yes, I was wondering why suddenly there's a rule 500 or so.

Although I appreciate your desire for "bringing order into chaos" (well, that's fairly exaggerated, of course), I don't like the idea of the interrupted counting.

If you wanted to decipher the phase in the rule name, then you should generally move to a different naming convention for your rules, i.e. `<rule_type>_

[2020-12-17 02:43] jeremiah-c-leary commented on #472
Hey @staerz ,

I added the minimum requirement of 3.5 to the setup.py file.  PIP will enforce this requirement.

I will close this issue as it can only be resolved after the next release.

[2020-12-17 02:43] #472 closed

[2020-12-17 02:45] jeremiah-c-leary commented on #488
Thanks for the feedback.  I will ponder on this a little more.  At the moment I can't say which way I will go.

[2020-12-17 02:50] staerz commented on #456
Hi @jeremiah-c-leary,

that is great!

Note that I found yet another of these documentation bugs: In the list of rules that have this feature of "add" or "remove", the links are again broken: the links use "underscore", while it should be "dash". I think that's true for any lists there in the documentation (so also [the prefixes and suffixes for example](https://vhdl-style-guide.readthedocs.io/en/

[2020-12-17 03:08] staerz commented on #455
Hi @jeremiah-c-leary,

I confirm that VSG doesn't crash when encountering this code anymore.

Though I still don't like that `signal_016` is complaining here, but that's a different story.

I leave you the pleasure of closing this issue.

[2020-12-17 03:19] staerz commented on #454
Alright, I saw the relevant commit and tested it, looks very good to me!

Also printing to stdout vs. stderr is done properly.

Thanks! I think you can close the issue.

[2020-12-17 03:28] staerz commented on #443
Alright, after a new pull I see the block rules get checked and I confirm that they cover the cases above (namely `process_033` and `block_401` as you write).

I'd say another one to be closed :wink:

[2020-12-17 03:39] staerz commented on #472
Absolutely fine with me. I'm happy that you found a solution (which seems to be the official one).

[2020-12-17 03:48] staerz commented on #487
Yup, the link now works.

I have added a few other issues though. I'm done checking for today and will likely be able to pursue the next couple of days, so let me know if you need any feedback.

[2020-12-17 15:13] jeremiah-c-leary commented on #487
Just to clarify the issue...you would like the comments to be considered part of the rule check.  Such that a blank line would be added above the comments?

[2020-12-17 15:18] jeremiah-c-leary commented on #455
Awesome, thx.

[2020-12-17 15:18] #455 closed

[2020-12-17 15:24] jeremiah-c-leary commented on #456
Hey @staerz ,

The link had an extra extension in the filename.  It should be fixed now.

Thanks,

--Jeremy

[2020-12-17 15:25] jeremiah-c-leary commented on #443
Sweet....getting closer to the 3.0.0 release.

--Jeremy

[2020-12-17 15:25] #443 closed

[2020-12-17 15:34] staerz opened #491 "Add option to `library_003` to allow library "blocks""
**Is your feature request related to a problem? Please describe.**
Feature request related to personal style preference.

**Describe the solution you'd like**
[`library_003`](https://vhdl-style-guide.readthedocs.io/en/latest/library_rules.html#library-003) checks for blank lines above the `library` keyword.

That is totally fine in the case where a single library is used or multiple libraries are

[2020-12-17 15:35] staerz commented on #487
Yes, blank line above the comment (required). If there is no comment, also no problem, as that falls back to the current situation.

[2020-12-17 16:55] jeremiah-c-leary commented on #429
Hey @staerz ,

I put in a better error reporting message to catch missing labels on the if, for and case generate statements.

When you get a chance, could you check it out and let me know what you think?

Thanks,

--Jeremy

[2020-12-17 17:06] joshrsmith opened #492 "Prefix rules only work correctly if they are lowercase"
**Environment**
Running from master circa https://github.com/jeremiah-c-leary/vhdl-style-guide/commit/e80c16da1518e18fd9ba67f1e884f6da486bdfc1

Running on linux.

**Describe the bug**
I am testing out my (slightly updated) configuration of VSG with latest from master. I am seeing some regressions related to prefix handling. For example, in my configuration file I have generic_020 defined with a si

[2020-12-17 17:32] staerz opened #493 "Concurrent_002 doesn't like "with ... select""
**Environment**
VSG 3.0.0 release candidate 86ae2434

**Describe the bug**
VSG throws the error
[code]

on the following code:
[code]
Note that the line 212 is `with ... select`.

Apparently to check for this rule in the context of `with ... select` is not useful.

I propose that this rule (check) should not be applied here.

Similarly, on the following constructs the rule should not apply:
[code]

[2020-12-17 17:53] jeremiah-c-leary commented on #491
Hey @staerz ,

I just pushed an update to this issue.  When  you get a chance, could you validate it?

Thanks,

--Jeremy

[2020-12-17 17:56] jeremiah-c-leary commented on #492
Hey @joshrsmith ,

I will take a look at this.

[2020-12-17 17:57] staerz opened #494 "Add a rule instantiation_xxx for checking prefix/suffix for label"
**Is your feature request related to a problem? Please describe.**
Related to the problem of "consistency".

**Describe the solution you'd like**
Some elements allow labels and for most of the labels [rules for suffix (inclusive) or prefix](https://vhdl-style-guide.readthedocs.io/en/latest/configuring_prefix_suffix.html#rules-enforcing-prefixes-and-suffixes) exist, but not for instantiations.

Bei

[2020-12-17 18:01] staerz commented on #491
Awesome! Works, thanks for implementing this so super quickly!

[2020-12-17 18:14] jeremiah-c-leary commented on #492
It looks like I forgot to lowercase the prefixes before I did my comparison.  I update all the prefix and suffix rules to allow upper or lower case.

If you have time, could you validate the fix?

Thanks,

--Jeremy

[2020-12-17 18:16] jeremiah-c-leary commented on #491
Sweet...I have some free time until January and I am pretty bored.

[2020-12-17 18:16] #491 closed

[2020-12-17 18:20] staerz commented on #491
Haha, so somebody tell me that COVID-19 is not good for at least something :rofl:

(Well, and also I'm now "free" for reviewing my code with the new VSG options ... still a long way, but you see the issues that I open ... :wink:)

[2020-12-17 18:21] joshrsmith commented on #492
Yes, you fixed it. Thanks.

[2020-12-17 18:21] #492 closed

[2020-12-17 18:33] jeremiah-c-leary commented on #494
Hey @staerz ,

Checking for prefixes and suffixes on instantiation labels makes sense.  We usually use `U_` for a prefix.

I just pushed an update for this feature request.  If you could validate sometime I would appreciate it.

Thanks,

--Jeremy

[2020-12-17 18:35] joshrsmith opened #495 "Crash/exit when parsing alias_declaration"
**Environment**
Circa https://github.com/jeremiah-c-leary/vhdl-style-guide/commit/e4ffbfa0475ff236ec9745ba1ef9769963e4b884
Linux

**Describe the bug**

[code]
VSG exists immediately.

**To Reproduce**

Here is the line that is tripping it up:
`alias my_alias : std_logic other_signal(C_CONSTANT'high);`

**Expected behavior**
Parsing would continue without error.

[2020-12-17 18:36] jeremiah-c-leary commented on #491
Agree.  I definitely like working from home.  My setup is so much better than work.  I don't think I want to go back.

Please keep them coming.  There is only so much code I can look at and it all starts to blend together.

[2020-12-17 18:36] jeremiah-c-leary commented on #495
I'm on it.

[2020-12-17 18:37] staerz commented on #494
Alright, I'll have a look. I usually use `inst_` - but since the prefix/suffix can be configured, the default doesn't actually matter too much.

[2020-12-17 18:53] jeremiah-c-leary commented on #494
I think I should make the default `inst_`.  At least it would be consistent with the suffix rule.

[2020-12-17 18:54] joshrsmith commented on #495
http://vhdl.renerta.com/mobile/source/vhd00003.htm

The intention of the code is to do something like this - take a slice of an array signal and give it a name

[code]

[2020-12-17 18:58] jeremiah-c-leary commented on #494
I just pushed an update to default rule 601 to `inst_`.

[2020-12-17 19:01] jeremiah-c-leary commented on #495
Nice, I have that site bookmarked.

I copied that code snippet down and received the same error you posted.

[2020-12-17 19:05] staerz commented on #494
And I think then you should also update 600 to be `_inst` by default - and not `_u` ...
(I see you opted for skipping the count to the 600 ... nothing that I particularly like, but your choice ...)

[2020-12-17 19:23] jeremiah-c-leary commented on #495
Hey @joshrsmith,

I just pushed an update that should fix this.  If you can double check I would appreciate it.

Thanks,

--Jeremy

[2020-12-17 19:25] jeremiah-c-leary commented on #494
They are now both set to `_inst` and `inst_` by default.

Yeah...It is a lot easier for me to create new rules if they are categorized like this.

[2020-12-17 19:29] staerz opened #496 "Unexpected behaviour when using "-of summary" option"
**Environment**
VSG in 93009711

**Describe the bug**
The log is:
[code]

As one can see from these logs, apparently `instantiation_010` and `block_401` are not counted as error nor warnings.

That looks pretty unexpected to me.

**To Reproduce**
1. Write code not compliant with `instantiation_010` or `block_401`
2. Run VSG on it
3. See error (or not ... depending which output format you choose)

[2020-12-17 19:31] staerz commented on #494
I think you missed to update the doc for 601.

[2020-12-17 19:32] jeremiah-c-leary commented on #493
The rule should allow for the assignment operator to be on a different line than the `selected_waveforms`.

I think I see where the issue is.

[2020-12-17 19:32] joshrsmith commented on #495
No longer crashing, seems fixed.

[2020-12-17 19:32] #495 closed

[2020-12-17 19:38] jeremiah-c-leary commented on #493
Hey @staerz ,

I just pushed a fix for this issue.  Could you confirm it works on your side?

Thanks,

--Jeremy

[2020-12-17 19:40] joshrsmith opened #497 "Unexpected token detected when parsing protected type"
**Environment**
Linux

circa https://github.com/jeremiah-c-leary/vhdl-style-guide/commit/a18ab6414d1b076ee418494c423675cc8d4749f4

**Describe the bug**

Error: Unexpected token detected while parsing full_type_declaration
Expecting : ;
Found : protected

Example code where issue gets triggered:

[code]

**To Reproduce**
Run vsg on a file containing protected type declaration.

**Expected behavior*

[2020-12-17 19:41] jeremiah-c-leary commented on #496
That is strange.  I have a dictionary that defines all the violations and statistics of the run.  Then I pass the dictionary to the output formatter.  I would think it would be the same dictionary passed to both formatters.  I will see if I can replicate the issue on my side.

[2020-12-17 19:44] jeremiah-c-leary commented on #497
@joshrsmith
I just checked my notes and I did not implement the `protected_type_definition`.  I will work on it.

[2020-12-17 19:45] staerz opened #498 "Add rules for attributes similar to block_401"
**Is your feature request related to a problem? Please describe.**
For consistency it would be a nice-to-have feature.

**Describe the solution you'd like**

The position of a colon for a signal declaration is well defined by `block_401` (or others if not in a block), but no respective rules for attributes seem to exist, so the following is fully OK with the current version of VSG:
[code]

I would

[2020-12-17 19:48] staerz commented on #498
Side note: I guess `block_401` is a `block` rule since it is checked internally in VSG as part of the block rules, but I'd still say it's a signal declaration rule, similar to `signal_006`, so as a user I'd expect this to be called `signal_xxx`. (But in the end it's just names ...)

[2020-12-17 19:55] staerz commented on #493
Hi @jeremiah-c-leary,

yes, it works for the `with` statement now (also if it is within a block, I did though not check multiple block levels).

The issue still remains for the other case:
[code]

Not sure if you meant to have fixed that as well, since I added this to the bug report only later...

[2020-12-17 19:59] staerz commented on #493
I updated the reply, should I open a dedicated issue for `concurrent_009`?

[2020-12-17 20:01] jeremiah-c-leary commented on #493
Yes please.  It helps keep the issues focused on a single issue.

Thanks,

--Jeremy

[2020-12-17 20:27] staerz opened #499 "Reformat concurrent_009"
**Is your feature request related to a problem? Please describe.**
It's a nice-to-have feature request, related to the current rule not fitting my expectation.

**Describe the solution you'd like**
The current rule format on conditional signal assignments is
[code]
I find this highly unreadable.

I would much prefer the following formatting, which, in my eyes, much better meets the existing indent

[2020-12-17 20:39] staerz commented on #499
A similar proposal would hold true for `concurrent_03`.

[2020-12-17 21:01] jeremiah-c-leary commented on #497
@joshrsmith ,

I just push an update that should parse `protected_type_definition`s.  Please let me know if this solves the issue for you.

Thanks,

--Jeremy

[2020-12-17 21:09] joshrsmith commented on #497
Got past that issue. Thanks!

[2020-12-17 21:09] #497 closed

[2020-12-17 23:17] staerz opened #500 "length_001 cannot be temporarily disabled"
**Environment**
VSG efda079b

**Describe the bug**
Temporarily disabling `length_001` via [code tags](https://vhdl-style-guide.readthedocs.io/en/latest/code_tags.html) seems not to work.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a code line to exceed the default 120 characters
2. Add `-- vsg-disable-next-line length_001` directly above that line or enclose this line in `-- vsg_off

[2020-12-18 00:30] staerz opened #501 "Rule similar to signal_005 in generate environment"
**Is your feature request related to a problem? Please describe.**
No problem other than a not covered case (as far as I can see).

**Describe the solution you'd like**
I would expect a rule similar to `signal_005` (or more precisely `block_401`) to also exist for `generate` environment but there seems not to be any: Signals, constants etc. can also be defined locally in a generate environment and

[2020-12-18 15:07] jeremiah-c-leary commented on #500
Hey @staerz ,

I think I fixed this one.  Turns out not all the rules were using a method which enforced the code tags.

Please let me know if this update fixes the issue for you.

Thanks,

--Jeremy

[2020-12-18 15:20] jeremiah-c-leary commented on #496
Hey @staerz ,

I think my fix for issue #500 fixes this one also.

I created a simple file that throws an `instantiation_010` error:

[code]
...and this is output I get now:

[code]

The base rule I use for `instantiation_010` was part of the update for issue #500.

Could you try this again with the latest from master and let me know if the issue is resolved on your end.

Thanks,

--Jeremy

[2020-12-18 15:35] jeremiah-c-leary commented on #498
There are currently no `attribute_specification` rules, but I could add some.

So the current philosophy regarding those rules is:
1)  Rules addressing intra-construct will be handled by the rule of the same name.
2)  Rules addressing inter-construct will be handled by the construct utilizing it.

So all the signal rules deal with how to format a `signal_declaration` within the declaration itself.

[2020-12-18 16:31] staerz commented on #500
Yes, confirmed, it works now.
Thanks also for renaming the next line option :+1:

[2020-12-18 16:51] staerz commented on #496
I have tested again (putting back the errors in place for trial) in these files and now they are reported properly in the summary.
I did though not test any other rule violations ... I'd hope you you cross-checked.

[2020-12-18 17:28] staerz commented on #498
Hi @jeremiah-c-leary,

Yes, adding rules for attributes accordingly would be desired.

And since you say you have "duplicate" rules, well, let's say that's a price one can pay if it works - and your parser reworking is a major improvement as I am not getting any false indentation complaints (at least not so far) now anymore.

One recommendation then maybe: If you could improve the documentation of

[2020-12-18 18:01] staerz opened #502 "Comment_010 gets indentation wrong"
**Environment**
VSG 2f3d4c09

**Describe the bug**
See the following context definition, where (on purpose) a use case is commented out.
[code]

The following error is thrown:
[code]
When trying to do what is suggested (remove one level of indentation), the following (expected) error is thrown:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run VSG with `commen_010` enabled on the co

[2020-12-18 20:17] jeremiah-c-leary commented on #498
Hey @staerz ,

I just pushed some additional rules for attributes.

Could you check them out when you get a chance?

Thanks,

--Jeremy

[2020-12-18 20:18] jeremiah-c-leary commented on #500
I really appreciate you help in running this against your code.

[2020-12-18 20:18] #500 closed

[2020-12-18 20:20] jeremiah-c-leary commented on #496
I believe I updated all the rules which would result erroneous reporting.

I search for `self.violations.append` and replaced them with the method `self.add_violation`.

I will close this issue and we can re-open it if you run into it again.

[2020-12-18 20:20] #496 closed

[2020-12-18 20:22] jeremiah-c-leary commented on #502
That is an interesting one.  I will take a look.

[2020-12-18 21:00] jeremiah-c-leary commented on #502
Hey @staerz ,

I think I fixed the indenting issue.  Could you double check?

Thanks,

--Jeremy

[2020-12-18 21:19] jeremiah-c-leary commented on #454
Awesome!!!

[2020-12-18 21:19] #454 closed

[2020-12-18 21:19] jeremiah-c-leary commented on #493
Can we close this issue?

[2020-12-18 21:24] staerz commented on #502
The fix works for me, the complaint is gone now - and if I do it wrong intentionally (and direction) I get a complaint, just like it should be - well done! Thanks.

[2020-12-18 21:30] staerz commented on #498
Hi @jeremiah-c-leary,

pulled and ran again - et voilà - ran into some right away. Nice.
They seem to work nicely (as I usually formatted attributes like signals) and only got a few complaints where I really forgot alignment of the colon ([entity_specificaton_101](https://vhdl-style-guide.readthedocs.io/en/latest/entity_specification_rules.html#entity-specification-101) was thrown correctly).

Jus

[2020-12-18 21:32] staerz commented on #493
Absolutely. I opened #499 for concurrent_009 ...

[2020-12-18 21:32] #493 closed

[2020-12-19 00:27] jeremiah-c-leary commented on #502
Awesome, the solution was easier than I thought it would be.  Which made me suspicious it would not work.

[2020-12-19 00:27] #502 closed

[2020-12-19 00:32] jeremiah-c-leary commented on #498
yeah....consistency isn't my strong suit.

I changed `:` to `colon` in the documentation.

I am assuming I can close this issue.

[2020-12-19 00:32] #498 closed

[2020-12-19 00:42] jeremiah-c-leary commented on #494
Good catch.  I just pushed an update to the documentation.

[2020-12-19 00:48] staerz commented on #445
Hi @jeremiah-c-leary,

did you have the chance to make any move on this issue?

This is actually cross-related with #502 as comments that I do for any port or generic will be thrown as errors on `comment_010` - that is very annoying :wink:

So until this issue here is still up, I'll still have to disable `comment_010`. :sob:

[2020-12-19 00:49] staerz commented on #494
OK, I see it now. I think you can close the issue then :+1:

[2020-12-19 00:50] jeremiah-c-leary commented on #494
Sweet, thanks.

--Jeremy

[2020-12-19 00:50] #494 closed

[2020-12-19 00:55] jeremiah-c-leary commented on #487
Hey @staerz ,
I believe the following issues have been addressed:
* Unclear error message upon unexpected error
* instantiation_003 circular error message
* Typo in doc for instantiation_010
* Documentation for architecture-002
* Update copyright statement

[2020-12-19 01:04] staerz commented on #487
Alright, I updated the issue description. In fact you also already fixed the other typo doc (block_202)

[2020-12-19 01:09] staerz commented on #373
Hi @jeremiah-c-leary,

and advancing on this one would also be marvelous ... :wink:

[2020-12-19 17:30] jeremiah-c-leary commented on #501
Hey @staerz ,

I just pushed some rules to handle alignments in generates.

When you get a chance could you see if it works on your code.

Thanks,

--Jeremy

[2020-12-19 17:54] jeremiah-c-leary commented on #487
Hey @staerz ,

I put in a rule to handle this issue:
* Add a rule for architecture similar to block_205

When you get a chance could you validate it.

Thanks,

--Jeremy

[2020-12-19 19:36] staerz opened #503 "Make VSG robust against preprocessor statements"
**Is your feature request related to a problem? Please describe.**
It's a nice to have feature. It would make obsolete the use of `-- vsg_off` and `-- vsg_on` in some cases - and in general improve the usage of VSG in general.

**Describe the solution you'd like**
VHDL can be intersected with preprocessor commands, i.e. to define a given group of ports or generics only upon certain conditions (not

[2020-12-19 19:45] jeremiah-c-leary commented on #503
Hey @staerz ,

Where are the preprocessor commands defined?

I looked in the LRM, and the only occurrence I found was in a c header file under the VHPI section.

[2020-12-19 20:04] staerz commented on #503
Hi @jeremiah-c-leary,

well, I think it depends the preprocessor that is used - and that could be anything.

I think the simplest thing is to base yourself on the definition of what a preprocessor command is: It starts with `#` - this is clearly not part of VHDL definition, so clearly something "else".

^ and yes, that's exactly the point. We have a file that is VHDL with some preprocessor stateme

[2020-12-19 20:09] jeremiah-c-leary commented on #503
I could see the possibility of adding a preprocessor option into the parser to detect the start of one, but how do I know when the preprocessor ends?

Also, can the preprocessor command be anywhere in the code, or are they restricted?

Does my parser make it through the file with the pre-processor commands?  I would think it would croak on them.

[2020-12-20 01:51] jeremiah-c-leary commented on #373
Hey @staerz and @m-kru ,

I just pushed three rules to check block comments.  If you get a chance, could you test it out and give me any feedback.

Thanks,

--Jeremy

[2020-12-20 01:54] jeremiah-c-leary commented on #374
Hey @m-kru ,

I think I have this covered when I updated issue #373.  This is also covered by the `length_001` rule which checks the length of any line.

If you get a chance, could you test out the new `block_comment` rules?

Otherwise, I will close this as part of the 3.0.0 release.

Thanks,

--Jeremy

[2020-12-20 03:37] jeremiah-c-leary commented on #503
Interesting...I see my parser ignores anything at the `design_unit` level that is not a `context_clause` or a `library_unit`.

In my example, I did not need to put the `-- vsg_off` or the `-- vsg_on` around the `#ifdef`.  However, once inside a `context_clause` or a `library_unit` the parser will error out.

[2020-12-21 00:24] jeremiah-c-leary commented on #445
Hey @staerz ,

I just pushed this feature to master.

Here is an example using your code snippet:
[code]
If I use this configuration file:
[code]
...and pass it to VSG using the `-c` option and use the `--fix` option, then VSG produces this output:
[code]
I think that matches your desired output.

When you get a chance, could test it out.

Thanks,

--Jeremy

[2020-12-21 02:02] jeremiah-c-leary commented on #368
Issue has been resolved.

[2020-12-21 02:02] #368 closed

[2020-12-21 15:26] staerz commented on #445
Hi @jeremiah-c-leary,

that looks like it should do it.

I just pulled the recent master and ran VSG again.

Now I get
[code]

Is it possible that you forgot to `git add` a file here?

[2020-12-21 15:34] staerz commented on #503
Hi @jeremiah-c-leary,

in my opinion, your parser should simply completely ignore the preprocessor commands.

Of course, now one could also check if they are correctly indented or what ever - but how do you define that!?

The point of the preprocessor is that this is one level (in another dimension if you want so) above VHDL, and VSG parses VHDL, not anything above that. My approach would be to re

[2020-12-21 15:47] jeremiah-c-leary commented on #503
That seems easy enough, but I wonder what would happen if there are directives buried in processes and how the other rules would react.

I can run some experiments.

[2020-12-21 15:48] jeremiah-c-leary commented on #445
looking into it

[2020-12-21 15:49] staerz commented on #487
Hi @jeremiah-c-leary,

I have reverted to the status d7403e62 ("Fixing 3.0.0 release date") and got the following bug, when `comment_001` is disabled:

[code]

I traced it down to the commit 712513d2 (related to #501) which seems to introduce this bug: I removed that commit from the history and ran again, then it's fine.

I also hereby confirm that the commits related to introducing `architecture_

[2020-12-21 15:55] jeremiah-c-leary commented on #445
I checked the Travis CI server and the commit for this issue passed, but the next one failed.

[2020-12-21 15:57] staerz commented on #503
Well, "filter **any** line matching "^\s*#" away" should do the trick.

Again, sure, you can worry about what the proprocess would do to the files, but that's in fact out of scope of VSG if you ask me.
What ever you preprocess in or out, it would still have to be compliant with the current rules, right? So simply filtering them away rigorously, no matter in which scope they are found, gets rid of

[2020-12-21 16:03] jeremiah-c-leary commented on #445
So I did an install on my machine and I get the same error.

[2020-12-21 16:21] jeremiah-c-leary commented on #503
My parser does ignore whitespace and comments.  I would just need to detect and classify the preprocessor rules.  The `#` is a valid VHDL token, so I would need to detect more than just `^\s*#`.

[2020-12-21 16:22] staerz commented on #373
Hi @jeremiah-c-leary,

thank you for adding this!

Allow me a few recommendations for the current implementation:
[Doxygen Block Comments](https://vhdl-style-guide.readthedocs.io/en/latest/configuring_block_comments.html#doxygen-block-comment):
- The header and footer should still only start with `---` and not `--!` (in the default case). Usually you don't want Doxygen to print a row of dashes in

[2020-12-21 16:33] jeremiah-c-leary commented on #445
so I cloned VSG into a new working copy and did an install.   The local directory has the config file:

[code]
...but when I install it, the install directory does not have it:
[code]
There must be something in the setup.py that is preventing the file from being copied.

[2020-12-21 16:38] jeremiah-c-leary commented on #445
yeah, I check the `build` directory and the file is missing.  What is odd is that the yaml files in the styles directory are there.

I tried changing the extension to `json`, `txt` and `py`.  Only the file ending in `py` was copied.

I do not understand why.

[2020-12-21 16:53] staerz commented on #373
More feedback after I tried it out:

I'm using the following configuration:
[code]
I don't quite understand why the proposed change is shifted:
[code]
Note that neither are actually correct: The first is shifted left by 1, the second right by 1.
Let me know if you see any mistake in my configuration.

Further I noted that any 3 subsequent lines that are commented now are falling under the block co

[2020-12-21 16:57] jeremiah-c-leary commented on #445
Hey @staerz ,

I think I figured it out.  Could you update and verify.

Thanks,

--Jeremy

[2020-12-21 17:00] staerz commented on #445
Well, if I browse through the installation output, then I actually only see python files being copied (and compiled) over.

Maybe you need to add an extra directive for properly considering the json file?

Note that during installation I get these on `stderr`:
[code]
The first seems fairly expected, but you might want to check the origin of the second.

[2020-12-21 17:09] staerz commented on #445
Alright, that seems to have improved the situation.

With the configuration that you suggest for my case, I get no complaints - except for a file where I used your default (indented) instantiation.

After I fixed that, I only found lines with the preprocess command (which I didn't indent on purpose).

I would still say that we can close this issue here, as we're discussing preprocessing in #503.

[2020-12-21 17:12] staerz commented on #503
How is `#` a valid VHDL token? I cannot think of any context where it would be but it seems I'm missing something, could you give an example?

[2020-12-21 17:13] jeremiah-c-leary commented on #373
My detection logic was to look at the first comment in the group and check if the character after the `--` was not an alphanumeric character.  So in this case the `!` would be detected.  I can put in logic to ignore the `!`

Are the two lines at the same indent level?

My math maybe off.  I think I only tested with comments at an indent of 0.

[2020-12-21 17:29] jeremiah-c-leary commented on #445
Awesome, thx.

[2020-12-21 17:29] #445 closed

[2020-12-21 17:34] jeremiah-c-leary commented on #503
It is defined in the basic character set, section 15.2 of the LRM:

![image](https://user-images.githubusercontent.com/24329243/102804988-288aec00-4380-11eb-8e34-9d40a6f395a2.png)

and is used when defining the base of a number in section 15.5.3:

![image](https://user-images.githubusercontent.com/24329243/102805190-756ec280-4380-11eb-96ec-5a42cd896b8b.png)
![image](https://user-images.githubuserc

[2020-12-21 17:42] staerz commented on #373
Well, that's in deed a tricky question.

Concerning the indentation, I gave the example above, and yes, the indentation is correct, all at the same level. And it's all regular Doxygen comments.

Now again, for me the distinction between a block comment and a block of comments is that the block comment starts at char 1 while the block of comments starts at the current indentation.
With this distinc

[2020-12-21 17:44] staerz commented on #503
I see, yes, I was thinking in that direction as well, but I never use that syntax.

The difference is though that a preprocessor command `#` must be the first non-white space character of a line.

In VHDL, you'd always find the `#` after another alphanumerical character, so I'd say my proposed "filter" is still valid.

[2020-12-21 18:14] jeremiah-c-leary commented on #373
I just pushed an update for documentation and fixed the centering algorithm.  Could you run it again and check if the same error occurs?

[2020-12-21 18:26] jeremiah-c-leary commented on #373
A block comment is a purely arbitrary construct, so it would be up to us to define it.

I have seen block comments used for describing processes:
[code]
also to separate states in a state machine
[code]
and before instantiations.  We also can not forget a header block.

At the moment, I can't think of a reason why that would not work.  It is a little restrictive, but that might not be a bad thing.

[2020-12-21 18:28] jeremiah-c-leary commented on #503
I don't believe the literals can be split across lines, so I would agree.

[2020-12-21 20:14] staerz commented on #503
I think you start mixing issues :wink:

But yes, I think splitting these literals is invalid.

[2020-12-21 20:19] jeremiah-c-leary commented on #503
Hey @staerz ,

I just pushed an update for this issue.  I have no tests for it, but it appears to be working.  Could you check it out.  Thanks,

I essentially search for a line starting with `^\s*#` and then classify the entire line as a preprocessor token.  The parser can now get through an entire file without throwing an error.  Preprocessor lines may still affect some rules.

Thanks,

--Jeremy

[2020-12-21 20:28] staerz commented on #373
Well, the best counter argument for your proposal is anything related to doxygen that is a regular, but little longer doxygen comment:

For example:
[code]
In order for Doxygen to recognise it properly, you have to spend an extra (Doxygen-empty) line to separate the brief from the detailed description.
The detailed description here includes a line break that is indicated by another (Doxygen-empty)

[2020-12-21 20:33] staerz commented on #503
Yes, I confirm that now the offending file is not throwing `instantiation_001` anymore.

What do you mean by "Preprocessor lines may still affect some rules."?

[2020-12-21 21:24] jeremiah-c-leary commented on #503
There are not rules about the preprocessor token, but I wonder if having a preprocessor command buried somewhere in the code that could cause a rule to not behave the same.  Maybe an alignment rule?

I also found a slight issue I need to fix.
I just ran an example with this snippet:
[code]
..and VSG ran through it fine, but ended up loosing the preprocessor commands:
[code]
I will push an update s